@import '../styles/variables'


.className

    > .words

        cursor:             pointer

        > .edit

            visibility:     hidden

        &:hover > .edit

            visibility:     visible

        > textarea

            display:        block
            min-height:     8em
            overflow:       auto
            white-space:    pre
            width:          100%
