#:acc-text.nlg.semantic-graph{:id          "PAsZpdZxlPXLjggJ",
                              :uid         "a7a452df-26f5-4113-a3df-5895b1a83a78",
                              :name        "test",
                              :kind        "Document",
                              :category    "Str",
                              :description "",
                              :relations   #{{:from     "qGxauTKx}:z#]1GG}:l7",
                                              :to       "_LS3bqXa-nhM[[fiNsP~",
                                              :role     :item,
                                              :index    0,
                                              :category "RS"}
                                             {:from  "#EToZy,tQ_F-O.d2McJ@",
                                              :to    "xHK:JCiE}1#rU5xKvS_p/mod",
                                              :role  :instance,
                                              :index 0}
                                             {:from     ".U+U#he^!.LmFe/-.kt2/mod",
                                              :to       "f+2W6{gEu67L!P9tzuUu",
                                              :role     :modifier,
                                              :index    0,
                                              :category "Det"}
                                             {:from     "qGxauTKx}:z#]1GG}:l7",
                                              :to       "me^LdYr45D;3waTVoQzk",
                                              :role     :item,
                                              :index    1,
                                              :category "RS"}
                                             {:from "xHK:JCiE}1#rU5xKvS_p/mod", :to "xHK:JCiE}1#rU5xKvS_p", :role :child}
                                             {:from     "rCn|$E%n;~)PdWmb1^aT/mod",
                                              :to       ".84ifr+x0lEK;d)kYW,c",
                                              :role     :modifier,
                                              :index    0,
                                              :category "A"}
                                             {:from     "rCn|$E%n;~)PdWmb1^aT/mod",
                                              :to       "rCn|$E%n;~)PdWmb1^aT",
                                              :role     :child,
                                              :category "N"}
                                             {:from     "qGxauTKx}:z#]1GG}:l7/mod",
                                              :to       "qGxauTKx}:z#]1GG}:l7",
                                              :role     :child,
                                              :category "RS"}
                                             {:from     "Sf=*G44*0c:7Kz~Bw_X}/mod",
                                              :to       "Sf=*G44*0c:7Kz~Bw_X}",
                                              :role     :child,
                                              :category "N"}
                                             {:from  "rviqrSdvHPXTyKGwFhQt",
                                              :to    "#EToZy,tQ_F-O.d2McJ@",
                                              :role  :segment,
                                              :index 0}
                                             {:from  "xHK:JCiE}1#rU5xKvS_p",
                                              :to    "rCn|$E%n;~)PdWmb1^aT/mod",
                                              :role  :modifier,
                                              :index 0}
                                             {:from     ".U+U#he^!.LmFe/-.kt2/mod",
                                              :to       ".U+U#he^!.LmFe/-.kt2",
                                              :role     :child,
                                              :category "N"}
                                             {:from     "Sf=*G44*0c:7Kz~Bw_X}/mod",
                                              :to       "fpeHf5XA.TG:Ou%J!AFq",
                                              :role     :modifier,
                                              :index    0,
                                              :category "Det"}
                                             {:from     "xHK:JCiE}1#rU5xKvS_p/mod",
                                              :to       "fqrOeu5Xm1%/Zv.KLmT;",
                                              :role     :modifier,
                                              :index    0,
                                              :category "Punct"}
                                             {:from     "_LS3bqXa-nhM[[fiNsP~",
                                              :to       ".U+U#he^!.LmFe/-.kt2/mod",
                                              :role     :arg,
                                              :index    0,
                                              :category "Cl",
                                              :name     "item"}
                                             {:from     "me^LdYr45D;3waTVoQzk",
                                              :to       "Sf=*G44*0c:7Kz~Bw_X}/mod",
                                              :role     :arg,
                                              :index    0,
                                              :category "Cl",
                                              :name     "item"}
                                             {:from     "qGxauTKx}:z#]1GG}:l7/mod",
                                              :to       "N-g.s.CJIRJ%fEV_FML+",
                                              :role     :modifier,
                                              :index    0,
                                              :category "Conj"}
                                             {:from "xHK:JCiE}1#rU5xKvS_p", :to "qGxauTKx}:z#]1GG}:l7/mod", :role :child}},
                              :concepts    #{{:id "rviqrSdvHPXTyKGwFhQt", :position 1, :type :document-plan}
                                             {:id "xHK:JCiE}1#rU5xKvS_p", :position 4, :type :modifier}
                                             {:id       "Sf=*G44*0c:7Kz~Bw_X}/mod",
                                              :position 12,
                                              :type     :modifier,
                                              :category "Cl"}
                                             {:id       "rCn|$E%n;~)PdWmb1^aT",
                                              :position 17,
                                              :type     :dictionary-item,
                                              :name     "house_N_Eng",
                                              :label    "house",
                                              :category "N"}
                                             {:id "qGxauTKx}:z#]1GG}:l7", :position 6, :type :sequence, :category "RS"}
                                             {:id       ".U+U#he^!.LmFe/-.kt2",
                                              :position 9,
                                              :type     :dictionary-item,
                                              :name     "cat_N_Eng",
                                              :label    "cat",
                                              :category "N"}
                                             {:id       "me^LdYr45D;3waTVoQzk",
                                              :position 11,
                                              :type     :amr,
                                              :label    "RS",
                                              :name     "RuXMZNtiZKidVwCw",
                                              :category "RS"}
                                             {:id       "N-g.s.CJIRJ%fEV_FML+",
                                              :position 15,
                                              :type     :dictionary-item,
                                              :name     "or_Conj_Eng",
                                              :label    "or",
                                              :category "Conj"}
                                             {:id       "fqrOeu5Xm1%/Zv.KLmT;",
                                              :position 19,
                                              :type     :dictionary-item,
                                              :name     "questMark_Punct_Eng",
                                              :label    "questMark",
                                              :category "Punct"}
                                             {:id "#EToZy,tQ_F-O.d2McJ@", :position 2, :type :segment}
                                             {:id       "f+2W6{gEu67L!P9tzuUu",
                                              :position 10,
                                              :type     :dictionary-item,
                                              :name     "a_Det_Eng",
                                              :label    "a",
                                              :category "Det"}
                                             {:id "qGxauTKx}:z#]1GG}:l7/mod", :position 5, :type :modifier}
                                             {:id "rCn|$E%n;~)PdWmb1^aT/mod", :position 16, :type :modifier}
                                             {:id       "_LS3bqXa-nhM[[fiNsP~",
                                              :position 7,
                                              :type     :amr,
                                              :label    "RS",
                                              :name     "RuXMZNtiZKidVwCw",
                                              :category "RS"}
                                             {:id       "fpeHf5XA.TG:Ou%J!AFq",
                                              :position 14,
                                              :type     :dictionary-item,
                                              :name     "a_Det_Eng",
                                              :label    "a",
                                              :category "Det"}
                                             {:id ".U+U#he^!.LmFe/-.kt2/mod", :position 8, :type :modifier, :category "Cl"}
                                             {:id       ".84ifr+x0lEK;d)kYW,c",
                                              :position 18,
                                              :type     :dictionary-item,
                                              :name     "big_A_Eng",
                                              :label    "big",
                                              :category "A"}
                                             {:id "xHK:JCiE}1#rU5xKvS_p/mod", :position 3, :type :modifier}
                                             {:id       "Sf=*G44*0c:7Kz~Bw_X}",
                                              :position 13,
                                              :type     :dictionary-item,
                                              :name     "apple_N_Eng",
                                              :label    "apple",
                                              :category "N"}}}
