#:acc-text.nlg.semantic-graph{:id          "NZgRLPAfcdQEBNHz",
                              :uid         "a736a5f4-7ade-4e8c-b21f-657466d15310",
                              :name        "nested",
                              :kind        "Document",
                              :category    "Str",
                              :description "",
                              :relations   #{{:from  "J?(!]GH%y-OERr%V}Y,P",
                                              :to    "=zu3~eSQxSpv/$.~,[1y/mod",
                                              :role  :item,
                                              :index 1}
                                             {:from     "=zu3~eSQxSpv/$.~,[1y/mod",
                                              :to       "N!o.E.=J`Bszf6iUx4d2",
                                              :role     :modifier,
                                              :index    0,
                                              :category "Det"}
                                             {:from     "IMCZK8EyfegL8v+1Ka+S/mod",
                                              :to       "zlZK0tq+*s7OZ8cA?a2G",
                                              :role     :modifier,
                                              :index    0,
                                              :category "Conj"}
                                             {:from     "=zu3~eSQxSpv/$.~,[1y/mod",
                                              :to       "=zu3~eSQxSpv/$.~,[1y",
                                              :role     :child,
                                              :category "N"}
                                             {:from     "()k$%C_+d7V=[k-XI6-6/mod",
                                              :to       "E=u56Wb9;-,Zp!=l3-Qo",
                                              :role     :modifier,
                                              :index    0,
                                              :category "Det"}
                                             {:from     "isF+^fB`v?]1*p+B7yw)/mod",
                                              :to       "uWMNd6no`?XwZ^fvGu{b",
                                              :role     :modifier,
                                              :index    0,
                                              :category "Det"}
                                             {:from "IMCZK8EyfegL8v+1Ka+S/mod", :to "IMCZK8EyfegL8v+1Ka+S", :role :child}
                                             {:from  "S+XZIBUCNE%laQB|28Qf",
                                              :to    "v0),#n+mP~#RF:~QV]*?/mod",
                                              :role  :instance,
                                              :index 0}
                                             {:from     "v0),#n+mP~#RF:~QV]*?/mod",
                                              :to       "XEaTXEvLXlM=kq5=po^b",
                                              :role     :modifier,
                                              :index    0,
                                              :category "Conj"}
                                             {:from     "=zu3~eSQxSpv/$.~,[1y/mod",
                                              :to       ".F0`:i0qLVmkg/sP-1J[",
                                              :role     :modifier,
                                              :index    1,
                                              :category "A"}
                                             {:from  "v0),#n+mP~#RF:~QV]*?",
                                              :to    "IMCZK8EyfegL8v+1Ka+S/mod",
                                              :role  :item,
                                              :index 0}
                                             {:from  "IMCZK8EyfegL8v+1Ka+S",
                                              :to    "RTtBD%ISbjt{-#b7iq`|/mod",
                                              :role  :item,
                                              :index 1}
                                             {:from  "IMCZK8EyfegL8v+1Ka+S",
                                              :to    "isF+^fB`v?]1*p+B7yw)/mod",
                                              :role  :item,
                                              :index 0}
                                             {:from  "v0),#n+mP~#RF:~QV]*?",
                                              :to    "J?(!]GH%y-OERr%V}Y,P",
                                              :role  :item,
                                              :index 1}
                                             {:from     "isF+^fB`v?]1*p+B7yw)/mod",
                                              :to       "isF+^fB`v?]1*p+B7yw)",
                                              :role     :child,
                                              :category "N"}
                                             {:from     "RTtBD%ISbjt{-#b7iq`|/mod",
                                              :to       "LTrNh66wsQJA|9e71Po5",
                                              :role     :modifier,
                                              :index    0,
                                              :category "Det"}
                                             {:from     "RTtBD%ISbjt{-#b7iq`|/mod",
                                              :to       "RTtBD%ISbjt{-#b7iq`|",
                                              :role     :child,
                                              :category "N"}
                                             {:from     "()k$%C_+d7V=[k-XI6-6/mod",
                                              :to       "()k$%C_+d7V=[k-XI6-6",
                                              :role     :child,
                                              :category "N"}
                                             {:from "v0),#n+mP~#RF:~QV]*?/mod", :to "v0),#n+mP~#RF:~QV]*?", :role :child}
                                             {:from  "KoFH/L;NT@d0CREFOOAc",
                                              :to    "S+XZIBUCNE%laQB|28Qf",
                                              :role  :segment,
                                              :index 0}
                                             {:from  "J?(!]GH%y-OERr%V}Y,P",
                                              :to    "()k$%C_+d7V=[k-XI6-6/mod",
                                              :role  :item,
                                              :index 0}},
                              :concepts    #{{:id "()k$%C_+d7V=[k-XI6-6/mod", :position 15, :type :modifier}
                                             {:id       "RTtBD%ISbjt{-#b7iq`|",
                                              :position 11,
                                              :type     :dictionary-item,
                                              :name     "hill_N_Eng",
                                              :label    "hill",
                                              :category "N"}
                                             {:id       "N!o.E.=J`Bszf6iUx4d2",
                                              :position 20,
                                              :type     :dictionary-item,
                                              :name     "aPl_Det_Eng",
                                              :label    "aPl",
                                              :category "Det"}
                                             {:id "=zu3~eSQxSpv/$.~,[1y/mod", :position 18, :type :modifier}
                                             {:id "IMCZK8EyfegL8v+1Ka+S", :position 6, :type :sequence}
                                             {:id       ".F0`:i0qLVmkg/sP-1J[",
                                              :position 21,
                                              :type     :dictionary-item,
                                              :name     "big_A_Eng",
                                              :label    "big",
                                              :category "A"}
                                             {:id "J?(!]GH%y-OERr%V}Y,P", :position 14, :type :sequence}
                                             {:id       "()k$%C_+d7V=[k-XI6-6",
                                              :position 16,
                                              :type     :dictionary-item,
                                              :name     "cat_N_Eng",
                                              :label    "cat",
                                              :category "N"}
                                             {:id "v0),#n+mP~#RF:~QV]*?", :position 4, :type :sequence}
                                             {:id "isF+^fB`v?]1*p+B7yw)/mod", :position 7, :type :modifier}
                                             {:id       "XEaTXEvLXlM=kq5=po^b",
                                              :position 22,
                                              :type     :dictionary-item,
                                              :name     "if_then_Conj_Eng",
                                              :label    "if",
                                              :category "Conj"}
                                             {:id "v0),#n+mP~#RF:~QV]*?/mod", :position 3, :type :modifier}
                                             {:id       "uWMNd6no`?XwZ^fvGu{b",
                                              :position 9,
                                              :type     :dictionary-item,
                                              :name     "aSg_Det_Eng",
                                              :label    "aSg",
                                              :category "Det"}
                                             {:id "IMCZK8EyfegL8v+1Ka+S/mod", :position 5, :type :modifier}
                                             {:id       "isF+^fB`v?]1*p+B7yw)",
                                              :position 8,
                                              :type     :dictionary-item,
                                              :name     "house_N_Eng",
                                              :label    "house",
                                              :category "N"}
                                             {:id       "zlZK0tq+*s7OZ8cA?a2G",
                                              :position 13,
                                              :type     :dictionary-item,
                                              :name     "or_Conj_Eng",
                                              :label    "or",
                                              :category "Conj"}
                                             {:id "RTtBD%ISbjt{-#b7iq`|/mod", :position 10, :type :modifier}
                                             {:id "KoFH/L;NT@d0CREFOOAc", :position 1, :type :document-plan}
                                             {:id "S+XZIBUCNE%laQB|28Qf", :position 2, :type :segment}
                                             {:id       "=zu3~eSQxSpv/$.~,[1y",
                                              :position 19,
                                              :type     :dictionary-item,
                                              :name     "cat_N_Eng",
                                              :label    "cat",
                                              :category "N"}
                                             {:id       "LTrNh66wsQJA|9e71Po5",
                                              :position 12,
                                              :type     :dictionary-item,
                                              :name     "aPl_Det_Eng",
                                              :label    "aPl",
                                              :category "Det"}
                                             {:id       "E=u56Wb9;-,Zp!=l3-Qo",
                                              :position 17,
                                              :type     :dictionary-item,
                                              :name     "aPl_Det_Eng",
                                              :label    "aPl",
                                              :category "Det"}}}