#:acc-text.nlg.semantic-graph{:relations ({:from :01, :to :02, :role :segment, :index 0}
                                          {:from :02, :to :03, :role :instance, :index 0}
                                          {:from :02, :to :09, :role :instance, :index 1}
                                          {:from :03, :to :04, :role :item, :index 0}
                                          {:from :03, :to :05, :role :item, :index 1}
                                          {:from :03, :to :08, :role :item, :index 2}
                                          {:from :05, :to :06, :role :item, :index 0}
                                          {:from :05, :to :07, :role :item, :index 1}),
                              :concepts  ({:id :01, :type :document-plan}
                                          {:id :02, :type :segment}
                                          {:id :03, :type :shuffle}
                                          {:id :04, :type :quote, :value "product."}
                                          {:id :05, :type :shuffle}
                                          {:id    :06,
                                           :type  :dictionary-item,
                                           :name  "49556f0f-4b75-403a-b66b-8689e5d11f9b",
                                           :label "product"
                                           :category "N"}
                                          {:id :07, :type :data, :name "product"}
                                          {:id :08, :type :shuffle}
                                          {:id :09, :type :data, :name "fridge"})}