#:acc-text.nlg.semantic-graph{:relations ({:from :01 :to :02 :role :segment :index 0}
                                          {:from :02 :to :03 :role :instance :index 0}
                                          {:from :02 :to :07 :role :instance :index 1}
                                          {:from :03 :to :04 :role :item :index 0}
                                          {:from :03 :to :05 :role :item :index 1}
                                          {:from :03 :to :06 :role :item :index 2})
                              :concepts  ({:id :01 :type :document-plan}
                                          {:id :02 :type :segment}
                                          {:id :03 :type :shuffle}
                                          {:id :04 :type :quote :value "pub"}
                                          {:id :05 :type :quote :value "restaurant"}
                                          {:id :06 :type :quote :value "cafe"}
                                          {:id :07 :type :quote :value "."})}