node_modules
*.lock
front-end/dist
front-end/*.log
**/.idea/*
**/.stats/*
api/.nrepl-port
api/output-sam.yaml
api/api.iml
api/pom.xml
api/server
api/libsunec.so
**/target/*
.lein-failures
.lein-repl-history
**/*.iml
**/*.env
**/.cpcache/
.nrepl-port
**/.clj-kondo/.cache/*
*.gfo
*.pgf
eval/
api/resources/dictionary
api/resources/document-plans
