**/*.env
**/*.iml
**/.clj-kondo/.cache/*
**/.cpcache/
**/.idea/*
**/.stats/*
**/target/*
*.gfo
*.lock
*.pgf
*.swp
.clj-kondo/
.lein-failures
.lein-repl-history
.lsp/
.nrepl-port
api/.nrepl-port
api/api.iml
api/libsunec.so
api/output-sam.yaml
api/pom.xml
api/resources/data-files
api/resources/dictionary
api/resources/document-plans
api/server
front-end/*.log
front-end/dist
node_modules
