node_modules
*.lock
perform/dist
perform/*.log
**/.idea/*
nlg-api/.nrepl-port
nlg-api/output-sam.yaml
nlg-api/nlg-api.iml
**/target/*
.lein-failures
**/*.iml
**/*.env
**/.cpcache/
graphql-api/server
graphql-api/libsunec.so
graphql-api/pom.xml
