pr:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
-  task: DockerCompose@0
   displayName: Build Integration tests dependencies
   inputs:
     dockerComposeFile: api/docker-compose.test.yml
     projectName: $(Build.Repository.Name)
     dockerComposeCommand: build
-  task: DockerCompose@1
   displayName: Run Integration tests
   inputs:
     dockerComposeFile: api/docker-compose.test.yml
     projectName: $(Build.Repository.Name)
     dockerComposeCommand: up --remove-orphans --abort-on-container-exit --exit-code-from api
