trigger:
- master

pr:
- master

jobs:
  - job: Integration Testing
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: DockerCompose@0
        displayName: Build Integration tests dependencies
        inputs:
          dockerComposeFile: api/docker-compose.test.yml
          projectName: $(Build.Repository.Name)
          dockerComposeCommand: build

      - task: DockerCompose@0
        displayName: Run Integration tests
        inputs:
          dockerComposeFile: api/docker-compose.test.yml
          projectName: $(Build.Repository.Name)
          dockerComposeCommand: up --remove-orphans --abort-on-container-exit --exit-code-from api

  - job: Evaluation
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - checkout: self
        submodules: true
      - task: DockerCompose@0
        displayName: Build Eval
        inputs:
          dockerComposeFile: docker-compose.yml
          additionalDockerComposeFiles: docker-compose.eval.yml
          projectName: $(Build.Repository.Name)
          dockerComposeCommand: build

      - task: DockerCompose@0
        displayName: Run Eval
        inputs:
          dockerComposeFile: docker-compose.yml
          additionalDockerComposeFiles: docker-compose.eval.yml
          projectName: $(Build.Repository.Name)
          dockerComposeCommand: up --remove-orphans --abort-on-container-exit --exit-code-from eval
