version: '3.4'

services:
  front-end:
    build:
      context: .
      dockerfile: front-end/Dockerfile.builder
      args:
        ACC_TEXT_API_URL: http://localhost:3001
        ACC_TEXT_GRAPHQL_URL: http://localhost:3001/_graphql
    ports: ["8080:80"]
    volumes:
      - ./front-end/dist/:/opt/dist/
