version: '3.3'

services:
  localstack:
    build:
      context: .
      dockerfile: api/Dockerfile.localstack
    environment:
      - SERVICES=dynamodb
    ports: ["8000:4569"]
  acc-text-api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports: ["3001:3001"]
    depends_on:
      - localstack
    environment:
      DYNAMODB_ENDPOINT: http://localstack:4569
      GF_ENDPOINT: http://gf:8001
    command: ["clojure", "-A:dev", "-m", "api.server"]
  gf:
    build:
      context: .
      dockerfile: core/gf/Dockerfile
    ports: ["8001:8000"]
  mock-shop:
    build:
      context: integrations/demo-shop-lambdas
      dockerfile: Dockerfile
    ports: ["8090:8090"]
    depends_on:
      - localstack
      - acc-text-api
    environment:
      API_URL: http://0.0.0.0:8090/mock-shop
      PORT: 8090
