version: '3.4'

services:
  acc-text-api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports: ["3001:3001"]
    environment:
      GF_ENDPOINT: "http://gf:8000"
      ENABLE_ENRICH: "TRUE"
      ENRICH_ENDPOINT: "http://enrich:8000"
      DB_IMPLEMENTATION: "datomic"
      GRAMMAR_SYNTAX: "/opt/syntax"
      GRAMMAR_PARADIGMS: "/opt/paradigms"
      DATA_FILES: "/opt/data-files"
      DICT_PATH: "/opt/dictionary"
      DOCUMENT_PLANS: "/opt/document-plans"
    volumes:
      - ./api/resources:/opt
  gf:
    build:
      context: ./core/gf
    ports: ["8001:8000"]
  enrich:
    build:
      context: ./enrich
    ports: ["8002:8000"]
  transactor:
    image: "gordonstratton/datomic-free-transactor:latest"
    ports: ["4334-4336:4334-4336"]
    volumes:
      - ./api/data:/srv/datomic/data
