version: '3.4'

services:
  mock-shop:
    build:
      context: integrations/demo-shop-lambdas
      dockerfile: Dockerfile
    ports: ["8090:8090"]
    environment:
      API_URL: http://0.0.0.0:8090/mock-shop
      PORT: 8090
