version: '3.4'

services:
  acc-text-api:
    networks:
      - default
      - datomic
    build:
      context: .
      dockerfile: api/Dockerfile
    ports: ["3001:3001"]
    environment:
      GF_ENDPOINT: "http://gf:8000"
      ENABLE_ENRICH: "TRUE"
      ENRICH_ENDPOINT: "http://enrich:8000"
      DB_IMPLEMENTATION: "datomic"
      DB_URI: "datomic:free://datomic-transactor:4334/acc-text?password=datomic"
      GRAMMAR_SYNTAX: "/opt/syntax"
      GRAMMAR_PARADIGMS: "/opt/paradigms"
      DATA_FILES: "/opt/data-files"
      DICT_PATH: "/opt/dictionary"
      DOCUMENT_PLANS: "/opt/document-plans"
    volumes:
      - ./api/resources:/opt
    depends_on:
      - datomic-transactor
      - gf
  gf:
    build:
      context: ./core/gf
    ports: ["8001:8000"]
  enrich:
    build:
      context: ./enrich
    ports: ["8002:8000"]
  datomic-transactor:
    image: "gordonstratton/datomic-free-transactor:latest"
    ports: ["4334-4336:4334-4336"]
    networks:
      - datomic
    environment:
      DATOMIC_HOST: "datomic-transactor"
      DATOMIC_ALT_HOST: "acc-text-api"
    volumes:
      - ./api/data:/srv/datomic/data

networks:
  default:
  datomic:
