version: '3.4'

services:
  acc-text-api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports: ["3001:3001"]
    environment:
      GF_ENDPOINT: http://gf:8000
      ENRICH_ENDPOINT: http://enrich:8000
      DB_IMPLEMENTATION: datomic
      GRAMMAR_PACKAGE: "/opt/grammar/library"
      GRAMMAR_PARADIGMS: "/opt/grammar/paradigms"
      DICT_PATH: "/opt/grammar/dictionary"
      DOCUMENT_PLANS: "/opt/grammar/document-plans"
    volumes:
      - ./api/grammar:/opt/grammar
  gf:
    build:
      context: .
      dockerfile: core/gf/Dockerfile
    ports: ["8001:8000"]

  enrich:
    build:
      context: .
      dockerfile: core/enrich/Dockerfile
    ports: ["8002:8000"]
