version: '3.4'

services:
  front-end:
    image: acctext/frontend:latest
    ports: ["8080:8080"]
    environment:
      ACC_TEXT_API_URL: "http://localhost:3001"
      ACC_TEXT_GRAPHQL_URL: "http://localhost:3001/_graphql"
      ACC_TEXT_DATA_FILES_BUCKET: "http://localhost:3001/accelerated-text-data-files"
