version: '3.3'

services:
  localstack:
    build:
      context: .
      dockerfile: api/Dockerfile.localstack
    environment:
      - SERVICES=dynamodb
      - DATA_DIR=/tmp/localstack/data
    ports: ["8000:4569", "8001:4572"]
  acc-text-api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports: ["3001:3001"]
    environment:
      S3_ENDPOINT: http://localstack:4572
      DYNAMODB_ENDPOINT: http://localstack:4569
    command: ["clojure", "-A:dev", "-m", "api.server"]
  mock-shop:
    build:
      context: integrations/demo-shop-lambdas
      dockerfile: Dockerfile
    ports: ["8090:8090"]
    environment:
      API_URL: http://0.0.0.0:8090/mock-shop
      PORT: 8090
