{:type "Ant",
 :description "anteriority",
 :module "Syntax",
 :functions
 [{:function "anteriorAnt", :type ["Ant"], :example "she has slept"}
  {:function "simultaneousAnt", :type ["Ant"], :example "she sleeps"}]}
