{:type "Card",
 :description "cardinal number",
 :module "Syntax",
 :functions
 [{:function "mkCard",
   :type ["Str" "Card"],
   :example "thirty-five (given as \"35\"; range 1-999)"}
  {:function "mkCard", :type ["Numeral" "Card"], :example "seven"}
  {:function "mkCard", :type ["Digits" "Card"], :example "51"}
  {:function "mkCard",
   :type ["AdN" "Card" "Card"],
   :example "almost fifty"}]}
