{:type "IP",
 :description "interrogative pronoun",
 :module "Syntax",
 :functions
 [{:function "mkIP",
   :type ["IDet" "CN" "IP"],
   :example "which five big cities"}
  {:function "mkIP",
   :type ["IDet" "N" "IP"],
   :example "which five cities"}
  {:function "mkIP", :type ["IDet" "IP"], :example "which five"}
  {:function "mkIP",
   :type ["IQuant" "CN" "IP"],
   :example "which big city"}
  {:function "mkIP",
   :type ["IQuant" "Num" "CN" "IP"],
   :example "which five big cities"}
  {:function "mkIP", :type ["IQuant" "N" "IP"], :example "which city"}
  {:function "mkIP", :type ["IP" "Adv" "IP"], :example "who in Paris"}
  {:function "whatPl_IP", :type ["IP"], :example "what"}
  {:function "whatSg_IP", :type ["IP"], :example "what"}
  {:function "what_IP", :type ["IP"], :example "what"}
  {:function "whoPl_IP", :type ["IP"], :example "who"}
  {:function "whoSg_IP", :type ["IP"], :example "who"}
  {:function "who_IP", :type ["IP"], :example "who"}]}
