{:type "Pron",
 :description "personal pronoun",
 :module "Syntax",
 :functions
 [{:function "he_Pron", :type ["Pron"], :example "he"}
  {:function "i_Pron", :type ["Pron"], :example "I"}
  {:function "it_Pron", :type ["Pron"], :example "it"}
  {:function "she_Pron", :type ["Pron"], :example "she"}
  {:function "they_Pron", :type ["Pron"], :example "they"}
  {:function "we_Pron", :type ["Pron"], :example "we"}
  {:function "youPl_Pron", :type ["Pron"], :example "you"}
  {:function "youPol_Pron", :type ["Pron"], :example "you"}
  {:function "youSg_Pron", :type ["Pron"], :example "you"}]}
