@import '../styles/variables'
@import '../styles/buttons'


.className

    @include no-button

    color:                  $gray
    display:                block
    padding:                $space-s
    text-decoration:        none

    &:hover

        text-decoration:    underline
