@import '../styles/variables'


.className

    display:                grid
    grid-template-columns:  $space-m 1fr

    > .synonymSearch

        background-color:   $subtle-gray

    > .main

        background-color:       $white
        display:                grid
        grid-gap:               $space-m
        grid-template-areas:    'title close' 'main main'
        grid-template-columns:  auto 6em
        grid-template-rows:     ( 2 * $space-m ) auto
        padding:                $space-m $space-m 0

        > .title

            grid-area:          title
            margin:             0
            padding:            0

        > .close

            grid-area:          close
            text-align:         right

            > button

                cursor:         pointer

        > .usageModels

            grid-area:          main
