[#:acc-text.nlg.dictionary.morphology{:key "author_1"
                                      :pos "V2"
                                      :language "Eng"
                                      :sense    :basic
                                      :gender   :n
                                      :definition "this book is authored by"
                                      :tenses {:present-tense "author"
                                               :past-tense    "authored"}}
 #:acc-text.nlg.dictionary.morphology{:key "author_2"
                                      :pos "N"
                                      :language "Eng"
                                      :sense    :basic
                                      :gender   :m
                                      :definition "he is the author"
                                      :inflections {:nom-sg "author"
                                                    :nom-pl "authors"}}]
