[#:acc-text.nlg.dictionary.morphology{:key "good_1"
                                      :pos "N"
                                      :language "Eng"
                                      :sense    :basic
                                      :gender   :n
                                      :definition "Good"
                                      :inflections {:nom-sg "good"}}
 #:acc-text.nlg.dictionary.morphology{:key "good_2"
                                      :pos "A"
                                      :language "Eng"
                                      :sense    :basic
                                      :gender   :n
                                      :definition "Good"
                                      :inflections {:nom-sg "good"}}
 #:acc-text.nlg.dictionary.morphology{:key "good_3"
                                      :pos "Adv"
                                      :language "Eng"
                                      :sense    :basic
                                      :gender   :n
                                      :definition "Good"
                                      :inflections {:nom-sg "good"}}]
