#:acc-text.nlg.dictionary.morphology{:key "intend"
                                     :pos :adj
                                     :language :ng
                                     :sense    :basic
                                     :gender   :n
                                     :definition ""
                                     :tenses {:present "intend" :past "intended"}}
