[#:acc-text.nlg.dictionary.morphology{:key "is"
                                      :pos :v
                                      :language :en
                                      :sense    :basic
                                      :gender   :n
                                      :definition "He is running"
                                      :tenses    {:present "is"
                                                  :past     "was"}}]
