[#:acc-text.nlg.dictionary.morphology{:key "located"
                                      :pos :v
                                      :language :eng
                                      :sense    :basic
                                      :gender   :n
                                      :definition "It is located on the riverside"
                                      :tenses {:present "locate"
                                               :past    "located"}}]
