[#:acc-text.nlg.dictionary.morphology{:key "make"
                                      :pos :v
                                      :language :eng
                                      :sense    :basic
                                      :gender   :n
                                      :definition "Made in UK"
                                      :tenses    {:present "make"
                                                  :past     "made"}}]
