[#:acc-text.nlg.dictionary.morphology{:key "named"
                                      :pos :adj
                                      :language :en
                                      :sense    :basic
                                      :gender   :m
                                      :tenses   {:present "name"
                                                 :past    "named"}}]
