[#:acc-text.nlg.dictionary.morphology{:key "near"
                                      :pos "SConj"
                                      :language "Eng"
                                      :sense    :basic
                                      :gender   :n
                                      :definition "It is near KFC"
                                      :inflections {:nom-sg "near"}}]
