[#:acc-text.nlg.dictionary.morphology{:key "place"
                                      :pos :n
                                      :language :en
                                      :sense    :basic
                                      :gender   :m
                                      :inflections {:nom-sg "place"
                                                    :nom-pl "places"}}

 #:acc-text.nlg.dictionary.morphology{:key "place"
                                      :pos :n
                                      :language :de
                                      :sense    :basic
                                      :gender :m
                                      :inflections {:nom-sg "platz"
                                                    :nom-pl "plätze"}}]
