[#:acc-text.nlg.dictionary.morphology{:key "property"
                                      :pos "N"
                                      :language "Eng"
                                      :sense    :basic
                                      :gender   :m
                                      :definition ""
                                      :inflections {:nom-sg "property"
                                                    :nom-pl "properties"}}]
