[#:acc-text.nlg.dictionary.morphology{:key "provide"
                                      :pos "V2"
                                      :language "Eng"
                                      :sense    :basic
                                      :gender   :n
                                      :definition "I see you"
                                      :tenses    {:present-tense "provide"
                                                  :past-tense    "provided"}}]
