[#:acc-text.nlg.dictionary.morphology{:key "provide"
                                      :pos :v
                                      :language :en
                                      :sense    :basic
                                      :gender   :n
                                      :definition "I see you"
                                      :tenses    {:present "provide"
                                                  :past     "provided"}}]
