[#:acc-text.nlg.dictionary.morphology{:key "publish"
                                      :pos :v
                                      :language :en
                                      :sense    :basic
                                      :gender   :n
                                      :definition "The book has been published"
                                      :tenses    {:present "publish"
                                                  :past     "published"}}]
