[#:acc-text.nlg.dictionary.morphology{:key "small"
                                      :pos :adv
                                      :language :en
                                      :sense    :basic
                                      :gender   :n
                                      :definition "Small"
                                      :inflections {:nom-sg "small"}}]
