[#:acc-text.nlg.dictionary.morphology{:key "small"
                                      :pos "Adv"
                                      :language "Eng"
                                      :sense    :basic
                                      :gender   :n
                                      :definition "Small"
                                      :inflections {:nom-sg "small"}}]
