[#:acc-text.nlg.dictionary.morphology{:key "standard_1"
                                      :pos "N"
                                      :language "Eng"
                                      :sense    :basic
                                      :gender   :n
                                      :definition "Offers high standard"
                                      :inflections {:nom-sg "standard"}}
 #:acc-text.nlg.dictionary.morphology{:key "standard_2"
                                      :pos "A"
                                      :language "Eng"
                                      :sense    :basic
                                      :gender   :n
                                      :definition "The standard rate"
                                      :tenses {:present-tense "standard"}}]
