[#:acc-text.nlg.dictionary.morphology{:key "write"
                                      :pos :v
                                      :language :en
                                      :sense    :basic
                                      :gender   :n
                                      :definition "The book is written"
                                      :tenses    {:present "write"
                                                  :past "written"}}]
