@import '../styles/mixins'
@import '../styles/variables'

.className

    display:                grid
    grid-template-columns:  5fr $unit-m 4fr
    grid-gap:               0

    > .documentActions
        @include padded-block
        @include border-radius

        background:         $subtle-gray

    > .dataSetup
        @include padded-block
        @include border-radius

        background:         $green
