@import '../styles/mixins';

.className

    display:                grid;
    grid-template-columns:  5fr $unit-m 4fr;
    grid-gap:               0;

    > .documentActions
        @include padded-block;
        @include border-radius;

        background:         #eee;

    > .dataSetup
        @include padded-block;
        @include border-radius;

        background:         #cfc;
