{:segments [{:children [{:child  {:name "title" :type "Cell" :srcId "k1*3(#7IWxHal=%)AdyQ"}
                         :name   "good"
                         :type   "Dictionary-item-modifier"
                         :srcId  "hy-Io!DlnURxCO!v3`^["
                         :itemId "NN-good"}]
             :type     "Segment"
             :srcId    "ujW*X(khAvxZNh!jF8c8"}]
 :type     "Document-plan"
 :srcId    "xlp%{tSm4kq9Y?|jz(7e"}