{:segments [{:children [{:type      "AMR"
                         :srcId     "W}lSg%-S(rQ*nmVp3fFV"
                         :conceptId "author"
                         :roles     [{:name     "lexicon"
                                      :children [{:name   "author"
                                                  :type   "Dictionary-item"
                                                  :srcId  "jirq-V{WgCd+u[sdVWpd"
                                                  :itemId "VB-author"}]}
                                     {:name     "Agent"
                                      :children [{:name  "authors"
                                                  :type  "Cell"
                                                  :srcId "uakxT`=!W@8/xV#^orHk"}]}
                                     {:name     "co-Agent"
                                      :children [{:name "title" :type "Cell" :srcId "X_CwogT+.Z)N@;Mhz.j/"}]}
                                     {:name "theme" :children [nil]}]}]
             :type     "Segment"
             :srcId    "}0Ci`hF%i?izegwAT[@J"}]
 :type     "Document-plan"
 :srcId    "eoPNHZ1PSV{MJBwehL^Z"}