{:segments [{:children [{:type      "AMR"
                         :srcId     "+4aj[AsVqyyGbR]YG)21"
                         :conceptId "author"
                         :roles     [{:name "lexicon" :children [nil]}
                                     {:name "agent" :children [nil]}
                                     {:name "co-agent" :children [nil]}
                                     {:name "theme" :children [nil]}]}]
             :type     "Segment"
             :srcId    "d3z(xMQN@;2nrQ?2{5i2"}]
 :type     "Document-plan"
 :srcId    "8aPE=D.L/p!X$LY@R;."}