{:type "Document-plan",
 :segments [{:children [{:roles [{:children [{:name "good",
                                              :type "Dictionary-item-modifier",
                                              :srcId "?s4O!B:76$t:Sp~DDhRH",
                                              :child {:name "authors", :type "Cell", :srcId "JzJ^JAlFgg%deowMw@?$"},
                                              :itemId "good"}],
                                  :name "agent"}
                                 {:children [{:name "title", :type "Cell", :srcId "Xq46`Z`#:X`htt,=*%wa"}],
                                  :name "co-agent"}
                                 {:children [nil], :name "theme"}],
                         :dictionaryItem {:name "written",
                                          :type "Dictionary-item",
                                          :srcId "jvO!f+4P;9a~8Um=n:8a",
                                          :itemId "written"},
                         :type "AMR",
                         :srcId "^n1j8lqWzxNGkD9wFD^J",
                         :conceptId "author"}],
             :type "Segment",
             :srcId "rh?1qX}YzPx@XmKs.QZt"}],
 :srcId "7!8Uj:Qh]dbjSg-):=ZR"}