{:segments [{:children [{:type      "AMR"
                         :srcId     "+4aj[AsVqyyGbR]YG)21"
                         :conceptId "cut"
                         :roles     [{:name "lexicon" :children [{:name "cut" :type "Dictionary-item" :srcId "jvO!f+4P;9a~8Um=n:8a" :itemId "cut"}]}
                                     {:name "Agent" :children [{:name "Agent" :type "Cell" :srcId "Xq46`Z`#:X`htt=*%wa1"}]}
                                     {:name "Patient" :children [{:name "Patient" :type "Cell" :srcId "Xq46`Z`#:X`htt=*%wa2"}]}
                                     {:name "Result" :children [{:name "Result" :type "Cell" :srcId "Xq46`Z`#:X`htt=*%wa3"}]}
                                     {:name "Instrument" :children [{:name "Instrument" :type "Cell" :srcId "Xq46`Z`#:X`htt=*%wa4"}]}]}]
             :type     "Segment"
             :srcId    "d3z(xMQN@;2nrQ?2{5i2"}]
 :type     "Document-plan"
 :srcId    "8aPE=D.L/p!X$LY@R;."}
