{:type     "Document-plan"
 :segments [{:children [{:roles     [{:children [{:name   "old"
                                                  :type   "Dictionary-item-modifier"
                                                  :srcId  "4Mb|GvkCJy]gj2)IOv@r"
                                                  :child  {:name   "dirty"
                                                           :type   "Dictionary-item-modifier"
                                                           :srcId  "kQ.BkqVDXw4/aAJWqYv"
                                                           :child  {:type  "Quote"
                                                                    :srcId "5BcfVJ~`Q_Z;t(1UShn"
                                                                    :text  "refrigerator"}
                                                           :itemId "dirty"}
                                                  :itemId "old"}]
                                      :name     "Subject"}
                                     {:children [{:type "Quote" :srcId "wqHu6%d3GbkTsG4?Bg+_" :text "steel"}]
                                      :name     "Object"}]
                         :type      "AMR"
                         :srcId     "!gH62C@-pXm8z^c0OA8W"
                         :conceptId "made-of"}]
             :type     "Segment"
             :srcId    "7*)y=P1LqIk5fFa!xVd("}]
 :srcId    "IDC=hVSH*YQ0eEqmIZ+w"}