{:type     "Document-plan",
 :segments [{:children [{:roles     [{:children [{:name   "old",
                                                  :type   "Dictionary-item-modifier",
                                                  :srcId  "uATJ%Pj?(bhmnSKVEnL9",
                                                  :child  {:name   "dirty",
                                                           :type   "Dictionary-item-modifier",
                                                           :srcId  "|(CQUUVyK{AgGOerwFTE",
                                                           :child  {:type  "Quote",
                                                                    :srcId "f]n`Q.u,(5:I#*^4OVh?",
                                                                    :text  "refrigerator"},
                                                           :itemId "dirty"},
                                                  :itemId "old"}],
                                      :name     "Subject",
                                      :label    "Subject"}
                                     {:children [{:type "Quote", :srcId "UcFZdW%xXbU27.|i`0!q", :text "steel"}],
                                      :name     "Object",
                                      :label    "Object"}],
                         :type      "AMR",
                         :srcId     ";CEmqt-icXf88s5#*n4E",
                         :conceptId "made-of"}],
             :type     "Segment",
             :srcId    ",Lx%BKOW+x1Ef~^KaQyA"}],
 :srcId    "@;lO1Xx5o9x[:V(BG2^*"}