{:type  "Document-plan"
 :segments
 [{:children
   [{:roles
     [{:children [{:name "name" :type "Cell" :srcId "3t*sE.UMIx4NmVp^t:uq"}]
       :name     "object"}
      {:children
       [{:type  "Quote"
         :srcId "5+-4QDasX7wNR=BKG@K:"
         :text  "family-friendly"}]
       :name "property"}
      {:children
       [{:name "familyFriendly" :type "Cell" :srcId "jSU{R{j3WM8!Kt{8/Gm#"}]
       :name "polarity"}]
     :type      "AMR"
     :srcId     "u+Xn6k{4KhWX]AvY.HGK"
     :conceptId "has-property"}]
   :type  "Segment"
   :srcId "sppAU:%wK.y[0g7G.gfC"}]
 :srcId "$t-Te7WQ~*$*.hp7~/B~"}
