{:type     "Document-plan"
 :segments [{:children [{:type "If-then-else" :conditions [] :srcId "k`Y{4t`zt$4$C:!n*8X{"}]
             :type     "Segment"
             :srcId    "z1T%WpEW3uBLAfMSX@rw"}]
 :srcId    "]=b`U9]NU4Ss]vk.v1;"}