{:type     "Document-plan"
 :segments [{:children [{:type       "If-then-else"
                         :conditions [{:type           "If-condition"
                                       :thenExpression {:type  "Quote"
                                                        :srcId "(bFofjnQ/Ta$o|[yhE#:"
                                                        :text  "The book is not about computers"}
                                       :condition      {:value {:value    {:type  "Quote"
                                                                           :srcId "Z`t?UYHm{!5qX3@4]3"
                                                                           :text  "Computers"}
                                                                :type     "Value-in"
                                                                :srcId    "-KIPk5b)h5F[DTIhTX]2"
                                                                :list     {:name  "categories"
                                                                           :type  "Cell"
                                                                           :srcId "rkz0E84MsZw?=Hj0nPQ"}
                                                                :operator "in"}
                                                        :type  "Not"
                                                        :srcId "`a2cX1IKL*Sj6J7|x!l^"}}
                                      {:type           "Default-condition"
                                       :thenExpression {:type  "Quote"
                                                        :srcId "1XEs5Dxqb@L7):3Y7Y!5"
                                                        :text  "The book is about computers"}
                                       :condition      true}]
                         :srcId      "[5Sr3WHK26H||t]wF6w"}]
             :type     "Segment"
             :srcId    "OM^Bi14ff7dgUka_j.So"}]
 :srcId    "2}!2BW?r+I5#+oF/PA;/"}