{:type     "Document-plan"
 :segments [{:children [{:roles     [{:children [{:name   "place"
                                                  :type   "Dictionary-item"
                                                  :srcId  "5SgtK-{hj)?WV7+(Y=o."
                                                  :itemId "place"}]
                                      :name     "lexicon"}
                                     {:children [{:type "Quote" :srcId "=Zj[8Jk7Qh%}92o)|1Ri" :text "Alimentum"}]
                                      :name     "objectRef"}
                                     {:children [{:name "area" :type "Cell" :srcId "Xq46`Z`#:X`htt=*%wa3"}]
                                      :name     "locationData"}]
                         :type      "AMR"
                         :srcId     "mR#QB3NK1!wZTZ?#Q+#g"
                         :conceptId "at-location"}]
             :type     "Segment"
             :srcId    "?Z/-L4HuT10K|n(:~7XH"}]
 :srcId    "/K/t|A:RgNKh6!-BVeYi"}
