{:type "Document-plan",
 :segments [{:children [{:children [{:name "eat_type" :type "Cell" :srcId "Xq46`Z`#:X`htt=*%wa3"}
                                    {:type "Quote", :srcId "eVN.9n80V_ztY_sS7cp@", :text "located"}
                                    {:type "Quote", :srcId "_Pw4;cncJ?**T[(4%9gd", :text "in"}
                                    {:name "area" :type "Cell" :srcId "Xq46`Z`#:X`htt=*%wa3"}],
                         :type "Sequence",
                         :srcId "DW!w}gyjw90W`4|+uCsQ"}],
             :type "Segment",
             :srcId "fvPPK:iAzhvufv^7;s.B"}],
 :srcId "SPm7#O/kQkP`6qS!)Kx@"}
