{:type     "Document-plan"
 :segments [{:children [{:roles     [{:children [{:name "place" :type "Dictionary-item" :srcId "=D!?B.R!Mq_cHMN(cpq?" :itemId "place"}]
                                      :name     "lexicon"}
                                     {:children [{:type "Quote" :srcId "g+RA25Wx:5jQS(WQjz_Y" :text "city centre"}]
                                      :name     "objectref"}
                                     {:children [{:type "Quote" :srcId "=Zj[8Jk7Qh%}92o)|1Ri" :text "Alimentum"}]
                                      :name     "locationdata"}
                                     {:children [{:type "Quote" :srcId "7|z/T!t-bq6faKY~klX(" :text "near"}]
                                      :name     "neardictionary"}
                                     {:children [{:type "Quote" :srcId "_cs$ku*Udq?mK1$TQ{?g" :text "KFC"}]
                                      :name     "neardata"}]
                         :type      "AMR"
                         :srcId     "mR#QB3NK1!wZTZ?#Q+#g"
                         :conceptId "located-near"}]
             :type     "Segment"
             :srcId    "?Z/-L4HuT10K|n(:~7XH"}]
 :srcId    "/K/t|A:RgNKh6!-BVeYi"}