{:type     "Document-plan"
 :segments [{:children [{:roles     [{:children [{:name   "written"
                                                  :type   "Dictionary-item"
                                                  :srcId  "($Ykt=!3nGr[iDL}YoQ^"
                                                  :itemId "written"}]
                                      :name     "lexicon"}
                                     {:children [{:name "authors" :type "Cell" :srcId "6+b4:7?Eidl#OMi5G]cG"}]
                                      :name     "agent"}
                                     {:children [{:name "title" :type "Cell" :srcId "n]$Ig`-?el^UBvctXUg^"}]
                                      :name     "co-agent"}]
                         :type      "AMR"
                         :srcId     "69w`xMlz0`Xn9O+wqh%B"
                         :conceptId "author"}
                        {:type "Quote" :srcId "s#7*mkTU/1u-yD.x3)ZD" :text "."}]
             :type     "Segment"
             :srcId    "H]z-i=K*]fU+{n?Pm+"}
            {:children [{:type  "Quote"
                         :srcId "zALBszd=}@!fUCDxJ(_="
                         :text  "Rarely is so much learning displayed with so much grace and charm"}]
             :type     "Segment"
             :srcId    "o!6P6NLg7-E$]5)|1(I#"}]
 :srcId    "!(]}:g8;5fF!rQ.#-U0"}