{:type "Document-plan",
 :segments [{:children [{:children [{:name "good",
                                     :type "Dictionary-item",
                                     :srcId "T$.(8H7gPs5gVJ0J0(X~",
                                     :itemId "good"}
                                    {:name "excellent",
                                     :type "Dictionary-item",
                                     :srcId "lLe*CXR^2o.d8p).8#S^",
                                     :itemId "excellent"}],
                         :type "One-of-synonyms",
                         :srcId ";RPe-4a4S[WPFP]WLY]j"}],
             :type "Segment",
             :srcId ".4tk+k{=E1%cmFe9=lAm"}],
 :srcId "ppuz),5ED]41f/su;i%7"}