{:type "Document-plan"
 :segments [{:children [{:roles [{:children [{:name "name" :type "Cell" :srcId "b;cLh$1uU1}(]c?I2M+:"}]
                                  :name "Subject"
                                  :label "Subject"}
                                 {:children [{:type "Quote" :srcId "$KyZ~gbXoaSLq}g#ax;N" :text "serve"}]
                                  :name "Verb"
                                  :label "Verb"}
                                 {:children [{:type "If-then-else"
                                              :conditions [{:type "If-condition"
                                                            :thenExpression {:name "food"
                                                                             :type "Cell-modifier"
                                                                             :srcId "sLyfeBxu@9jNDz4}]!1"
                                                                             :child {:type "Quote"
                                                                                     :srcId "l^R1pCkx$$69qj%(l76*"
                                                                                     :text "food"}}
                                                            :condition {:name "food" :type "Cell" :srcId "toJX3e4L2Za2*e82G%`"}}
                                                           {:type "Default-condition"
                                                            :thenExpression {:type "Quote"
                                                                             :srcId "3{mg*}Q7ZImvNvx$ByN#"
                                                                             :text "food"}}]
                                              :srcId "pPj)(k--iui+Crsa~w1v"}]
                                  :name "Object"
                                  :label "Object"}]
                         :type "AMR"
                         :srcId "SWb8^1#$xu:G9zDdUdql"
                         :conceptId "capable-of"
                         :kind "Str"}]
             :type "Segment"
             :srcId "d|ld`mo*j?2VQFE!TW(l"}]
 :srcId "tOAElPh)mK~cxz+3:fd"}
