{:type "Document-plan",
 :segments [{:children [{:name "good", :type "Dictionary-item-modifier", :srcId "7{n!?WuCx6rtZK{EgUNq", :itemId "good"}],
             :type "Segment",
             :srcId "BpE6a5YEZL5X@wk-UI{M"}],
 :srcId "I|~f_MEy+%:gCP-_|)m7"}