{:type     "Document-plan"
 :segments [{:name "Vt36=A%ey1i}$K!`9wA`" :type "Define-var" :srcId "DUCa;x+~~|f-fyzc8KAU"}
            {:children [{:name "Vt36=A%ey1i}$K!`9wA`" :type "Get-var" :srcId "FYB6kLOk46c`]IO)jWOL"}]
             :type     "Segment"
             :srcId    "!MwO/Y*P_s[E)FC|e/Dd"}]
 :srcId    "#J:tyZ!8]kQx+abHhs9N"}