{:type     "Document-plan"
 :segments [{:name  ".u#HHNga@N+C^g4vMM~"
             :value {:type "Quote" :srcId "9(z$2TT%KHAVSM.=^FY:" :text "X"}
             :type  "Define-var"
             :srcId "7HnY8ZP0Qsv?(1xtP3+7"}
            {:name  ".u#HHNga@N+C^g4vMM~"
             :value {:type "Quote" :srcId "GQVJu#6L5$VeS|a#yv9z" :text "Y"}
             :type  "Define-var"
             :srcId ":d5Yn!_/)GfAK^mC~a2e"}
            {:children [{:name ".u#HHNga@N+C^g4vMM~" :type "Get-var" :srcId "D7IYF|^YGbM`H;b$x^kH"}]
             :type     "Segment"
             :srcId    "3d#lNrxS_H:M8W0a+XGo"}]
 :srcId    "W`~A4T*c=V)#Qv`^Mcd~"}