@import '../styles/variables'


.className

    $error-back:        change-color( $red,     $alpha: .1 )
    $loading-back:      change-color( $gray,    $alpha: .1 )

    padding:            0
    text-align:         center

    &.error

        background-color:   $error-back

    &.loading

        background-color:   $loading-back

    > span

        cursor:         pointer
        opacity:        .1
        padding:        $space-s

        &:hover

            opacity:    .75

    &.DONT_CARE > .DONT_CARE,
    &.NO > .NO,
    &.YES > .YES

        opacity:        1
