{:type "Gender",
 :description "",
 :module "ParadigmsGer",
 :functions
 [{:function "masculine", :type ["Gender"], :example "-"}
  {:function "feminine", :type ["Gender"], :example "-"}
  {:function "neuter", :type ["Gender"], :example "-"}]}
