{:type "V2V",
 :description "",
 :module "ParadigmsGer",
 :functions
 [{:function "mkV2V", :type ["V" "V2V"], :example "-"}
  {:function "mkV2V", :type ["V" "Prep" "V2V"], :example "-"}
  {:function "auxV2V", :type ["V" "V2V"], :example "-"}
  {:function "auxV2V", :type ["V" "Prep" "V2V"], :example "-"}
  {:function "subjV2V",
   :type ["V2V" "V2V"],
   :example "force subject-control"}]}
