$black:                 #222
$gray:                  #ccc
$subtle-gray:           #f8f8f8
$subtle-yellow:         #ffe;
$red:                   #c00;
$white:                 #fff;

$border-color:          #333;
