@import './colors'
@import './variables'

@mixin border-radius

    border-radius:      $border-radius


@mixin padded-block

    box-sizing:         border-box
    padding:            $unit-m


@mixin widget-block

    border:             1px solid $border-color
    box-sizing:         border-box
    display:            block
    min-height:         20em
    padding:            calc( 1em - 1px )
