@import './colors'

$space-xxs:     .125rem
$space-xs:      .25rem
$space-s:       .5rem
$space-m:       1rem
$space-l:       2rem
$space-xl:      4rem

$border-radius: $space-xs

$z-index-blockly-toolbox:   70
$z-index-onboard-blocker:   100
