{:type "PN",
 :description "",
 :functions
 [{:function "mkPN",
   :type ["Str" "PN"],
   :example "regular name with genitive in \"s\", masculine"}
  {:function "mkPN",
   :type ["Str" "Gender" "PN"],
   :example "regular name with genitive in \"s\""}
  {:function "mkPN",
   :type ["gen"],
   :example "m,gen : Str) -> Gender -> PN \tname with other genitive"}
  {:function "mkPN",
   :type ["gen"],
   :example
   "m,acc,dat,gen : Str) -> Gender -> PN \tname with all case forms"}
  {:function "mkPN",
   :type ["N" "PN"],
   :example "use the singular forms of a noun"}]}
