@import                     '../styles/variables'


.className

    > .title

        display:            block
        font-weight:        bold
        padding:            $space-s

    > .body

        // background-color:   $white
        display:            block
        padding:            $space-s

        
