@import '../styles/variables'

.className

    padding:                0 $space-xs $space-xs
    background-color:       $green

    > .body

        padding:            $space-l
        border:             1px inset $green
        border-radius:      $border-radius
        background-color:   $white
