@import '../styles/variables'

.className

    background-color:   $blockly-green
    color:              $white
    line-height:        $space-m
    padding:            $space-s

    > select,
    > span
        margin-right:   $space-m
