@import '../styles/variables'


.className

    > .options

        border-bottom:      1px dotted $gray
        margin-bottom:      $space-s
        padding:            0

        > *

            padding-bottom: $space-s

        > .textForm

            align-items:            stretch
            display:                grid
            grid-gap:               $space-s
            grid-template-columns:  1fr 4em
            justify-items:          stretch
            width:                  100%

            > .tokenizerError

                color:              $red

        > .or

            font-weight:    bold
            text-align:     center
