@import '../styles/variables'


.className

    > .options

        padding:            0
        border-bottom:      1px dotted $gray
        margin-bottom:      $space-s

        > *

            padding-bottom: $space-s

        > .textForm

            display:                grid
            width:                  100%
            grid-template-columns:  1fr 4em
            grid-gap:               $space-s
            align-items:            stretch
            justify-items:          stretch

            > .tokenizerError

                color:              $red

        > .or

            text-align:     center
            font-weight:    bold
