{:amr [{:id             "hSDkPDEXEnAgudSQ"
        :label          "noun verb frames"
        :kind           "Str"
        :semantic-graph #:acc-text.nlg.semantic-graph{:relations ({:from  :01
                                                                   :to    :02
                                                                   :role  :segment
                                                                   :index 0}
                                                                  {:from  :02
                                                                   :to    :03
                                                                   :role  :instance
                                                                   :index 0}
                                                                  {:from     :03
                                                                   :to       :04
                                                                   :role     :arg
                                                                   :index    0
                                                                   :category "N"
                                                                   :name     "noun"}
                                                                  {:from     :03
                                                                   :to       :05
                                                                   :role     :arg
                                                                   :index    1
                                                                   :category "V"
                                                                   :name     "verb"})
                                                      :concepts  ({:id :01 :type :document-plan}
                                                                  {:id :02 :type :segment}
                                                                  {:id   :03
                                                                   :type :amr
                                                                   :name "YXxZrfOYLteiEFro"}
                                                                  {:id   :04
                                                                   :type :reference
                                                                   :name "noun"}
                                                                  {:id   :05
                                                                   :type :reference
                                                                   :name "verb"})}
        :frames         [{:examples []}]
        :roles          [{:id "ARG0" :label "noun" :type "N"} {:id "ARG1" :label "verb" :type "V"}]}
       {:id             "YXxZrfOYLteiEFro"
        :label          "noun verb frames"
        :kind           "Str"
        :semantic-graph #:acc-text.nlg.semantic-graph{:relations ({:from  :01
                                                                   :to    :02
                                                                   :role  :segment
                                                                   :index 0}
                                                                  {:from  :01
                                                                   :to    :05
                                                                   :role  :segment
                                                                   :index 1}
                                                                  {:from  :02
                                                                   :to    :03
                                                                   :role  :instance
                                                                   :index 0}
                                                                  {:from     :03
                                                                   :to       :04
                                                                   :role     :arg
                                                                   :index    0
                                                                   :category "N"}
                                                                  {:from  :05
                                                                   :to    :06
                                                                   :role  :instance
                                                                   :index 0}
                                                                  {:from     :06
                                                                   :to       :07
                                                                   :role     :arg
                                                                   :index    0
                                                                   :category "V"})
                                                      :concepts  ({:id :01 :type :document-plan}
                                                                  {:id :02 :type :segment}
                                                                  {:id   :03
                                                                   :type :amr
                                                                   :name "Syntax.mkCl/N->Cl"}
                                                                  {:id   :04
                                                                   :type :reference
                                                                   :name "noun"}
                                                                  {:id :05 :type :segment}
                                                                  {:id   :06
                                                                   :type :amr
                                                                   :name "Syntax.mkCl/V->Cl"}
                                                                  {:id   :07
                                                                   :type :reference
                                                                   :name "verb"})}
        :frames         [{:examples []}]
        :roles          [{:id "ARG0" :label "noun" :type "N"} {:id "ARG1" :label "verb" :type "V"}]}
       {:id             "focKkuxAcXjtzoTe"
        :label          "join-sentences"
        :kind           "Str"
        :semantic-graph #:acc-text.nlg.semantic-graph{:relations ({:from  :01
                                                                   :to    :02
                                                                   :role  :segment
                                                                   :index 0}
                                                                  {:from  :02
                                                                   :to    :03
                                                                   :role  :instance
                                                                   :index 0}
                                                                  {:from     :03
                                                                   :to       :04
                                                                   :role     :arg
                                                                   :index    0
                                                                   :category "S"
                                                                   :name     "S1"}
                                                                  {:from     :03
                                                                   :to       :05
                                                                   :role     :arg
                                                                   :index    1
                                                                   :category "S"
                                                                   :name     "S2"})
                                                      :concepts  ({:id :01 :type :document-plan}
                                                                  {:id :02 :type :segment}
                                                                  {:id   :03
                                                                   :type :amr
                                                                   :name "iKdNKIhqzeMGXerk"}
                                                                  {:id   :04
                                                                   :type :reference
                                                                   :name "S1"}
                                                                  {:id   :05
                                                                   :type :reference
                                                                   :name "S2"})}
        :frames         [{:examples []}]
        :roles          [{:id "ARG0" :label "S1" :type "S"} {:id "ARG1" :label "S2" :type "S"}]}
       {:id             "iKdNKIhqzeMGXerk"
        :label          "join-sentences"
        :kind           "Str"
        :semantic-graph #:acc-text.nlg.semantic-graph{:relations ({:from  :01
                                                                   :to    :02
                                                                   :role  :segment
                                                                   :index 0}
                                                                  {:from  :01
                                                                   :to    :07
                                                                   :role  :segment
                                                                   :index 1}
                                                                  {:from  :02
                                                                   :to    :03
                                                                   :role  :instance
                                                                   :index 0}
                                                                  {:from     :03
                                                                   :to       :04
                                                                   :role     :arg
                                                                   :index    0
                                                                   :category "Conj"}
                                                                  {:from     :03
                                                                   :to       :05
                                                                   :role     :arg
                                                                   :index    1
                                                                   :category "S"}
                                                                  {:from     :03
                                                                   :to       :06
                                                                   :role     :arg
                                                                   :index    2
                                                                   :category "S"}
                                                                  {:from  :07
                                                                   :to    :08
                                                                   :role  :instance
                                                                   :index 0}
                                                                  {:from     :08
                                                                   :to       :09
                                                                   :role     :arg
                                                                   :index    0
                                                                   :category "Conj"}
                                                                  {:from     :08
                                                                   :to       :10
                                                                   :role     :arg
                                                                   :index    1
                                                                   :category "S"}
                                                                  {:from     :08
                                                                   :to       :11
                                                                   :role     :arg
                                                                   :index    2
                                                                   :category "S"})
                                                      :concepts  ({:id :01 :type :document-plan}
                                                                  {:id :02 :type :segment}
                                                                  {:id   :03
                                                                   :type :amr
                                                                   :name "Syntax.mkS/Conj->S->S->S"}
                                                                  {:id   :04
                                                                   :type :amr
                                                                   :name "Syntax.and_Conj/Conj"}
                                                                  {:id   :05
                                                                   :type :reference
                                                                   :name "S1"}
                                                                  {:id   :06
                                                                   :type :reference
                                                                   :name "S2"}
                                                                  {:id :07 :type :segment}
                                                                  {:id   :08
                                                                   :type :amr
                                                                   :name "Syntax.mkS/Conj->S->S->S"}
                                                                  {:id   :09
                                                                   :type :amr
                                                                   :name "Syntax.and_Conj/Conj"}
                                                                  {:id   :10
                                                                   :type :reference
                                                                   :name "S2"}
                                                                  {:id   :11
                                                                   :type :reference
                                                                   :name "S1"})}
        :frames         [{:examples []}]
        :roles          [{:id "ARG0" :label "S1" :type "S"} {:id "ARG1" :label "S2" :type "S"}]}]}
