{:amr (),
 :data {"Type" "fridge", "Color" "white"},
 :dictionary
 [#:acc-text.nlg.dictionary.item{:id
                                 "598e0a24-a7e6-4525-891b-cd7f58ec4c4c",
                                 :key "white",
                                 :category "A",
                                 :language "Eng",
                                 :forms ["white"]}],
 :constants {"*Language" "Eng"}}
