{:amr        #{#:acc-text.nlg.semantic-graph{:id          "RuXMZNtiZKidVwCw",
                                             :uid         "79319af3-b63b-49b5-9847-26b01590f63d",
                                             :name        "RS",
                                             :kind        "AMR",
                                             :category    "RS",
                                             :description "",
                                             :relations   #{{:from     "ir;s/dZ[_#lXNYg(VYs#",
                                                             :to       "Qe%@%5-dI-/q=!u#LW@z",
                                                             :role     :arg,
                                                             :index    0,
                                                             :category "Cl",
                                                             :name     "Cl"}
                                                            {:from     "pEfFcIV4r.0ca8~eIu;x",
                                                             :to       "Fz(CLM/G[YA7;1u,!Y+P",
                                                             :role     :frame,
                                                             :index    0,
                                                             :category "RS"}
                                                            {:from     "Fz(CLM/G[YA7;1u,!Y+P",
                                                             :to       "ir;s/dZ[_#lXNYg(VYs#",
                                                             :role     :instance,
                                                             :index    0,
                                                             :category "RS"}},
                                             :concepts    #{{:id       "ir;s/dZ[_#lXNYg(VYs#",
                                                             :position 3,
                                                             :type     :amr,
                                                             :label    "mkRS",
                                                             :name     "rSeRgvruaJhtQfTd",
                                                             :category "RS"}
                                                            {:id       "Qe%@%5-dI-/q=!u#LW@z",
                                                             :position 4,
                                                             :type     :reference,
                                                             :name     "item",
                                                             :label    "Pe%*={QQ7C{9|~=U{YZ0",
                                                             :category "Cl"}
                                                            {:id       "Fz(CLM/G[YA7;1u,!Y+P",
                                                             :position 2,
                                                             :type     :frame,
                                                             :category "RS"}
                                                            {:id       "pEfFcIV4r.0ca8~eIu;x",
                                                             :position 1,
                                                             :type     :document-plan,
                                                             :category "RS"}}}
               #:acc-text.nlg.semantic-graph{:id          "rSeRgvruaJhtQfTd",
                                             :uid         "d1d44c1a-58aa-48f8-968c-bd4dd4caa0ec",
                                             :name        "mkRS",
                                             :kind        "RGL",
                                             :category    "RS",
                                             :description "",
                                             :relations   #{{:from     "Prwd}-]QC:n+ghxifo+E",
                                                             :to       "f~|N%y|f6q`$nOd+}%.c",
                                                             :role     :arg,
                                                             :index    3,
                                                             :category "RCl",
                                                             :name     "RCl"}
                                                            {:from     "MwP74T:LTLR6OI)dyd3p",
                                                             :to       "Prwd}-]QC:n+ghxifo+E",
                                                             :role     :instance,
                                                             :index    0,
                                                             :category "RS"}
                                                            {:from     "f~|N%y|f6q`$nOd+}%.c",
                                                             :to       "m/=7q|/)UfH@-aV8UJ^[",
                                                             :role     :arg,
                                                             :index    0,
                                                             :category "Cl",
                                                             :name     "Cl"}
                                                            {:from     "o?:VFYoji-#*jVGm-HH;",
                                                             :to       "MwP74T:LTLR6OI)dyd3p",
                                                             :role     :frame,
                                                             :index    0,
                                                             :category "RS"}},
                                             :concepts    #{{:id       "Prwd}-]QC:n+ghxifo+E",
                                                             :position 3,
                                                             :type     :operation,
                                                             :name     "mkRS",
                                                             :label    "Syntax.mkRS/(Tense)->(Ant)->(Pol)->RCl->RS",
                                                             :category "RS",
                                                             :module   "Syntax"}
                                                            {:id       "m/=7q|/)UfH@-aV8UJ^[",
                                                             :position 8,
                                                             :type     :reference,
                                                             :name     "Cl",
                                                             :label    "tr71C)oD3Cg2WdPgl5mZ",
                                                             :category "Cl"}
                                                            {:id       "f~|N%y|f6q`$nOd+}%.c",
                                                             :position 7,
                                                             :type     :operation,
                                                             :name     "mkRCl",
                                                             :label    "Syntax.mkRCl/Cl->RCl",
                                                             :category "RCl",
                                                             :module   "Syntax"}
                                                            {:id       "o?:VFYoji-#*jVGm-HH;",
                                                             :position 1,
                                                             :type     :document-plan,
                                                             :category "RS"}
                                                            {:id       "MwP74T:LTLR6OI)dyd3p",
                                                             :position 2,
                                                             :type     :frame,
                                                             :category "RS"}}}},
 :data       {},
 :readers    #{},
 :dictionary #{#:acc-text.nlg.dictionary.item{:id         "questMark_Punct_Eng",
                                              :key        "questMark",
                                              :category   "Punct",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "e692cb32-d046-46a4-9727-627ae8eb7bb8",
                                                                                               :value    "?",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "e4af6d66-aa7f-4214-bbef-53be0717c36f",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.questMarkPunct/Punct"}]}
               #:acc-text.nlg.dictionary.item{:id       "big_A_Eng",
                                              :key      "big",
                                              :category "A",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "5c63ddb8-f1a5-4f5c-8bbc-de45cbe29336",
                                                                                             :value    "big",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "a_Det_Eng",
                                              :key        "a",
                                              :category   "Det",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "1d5cf2e2-af95-4a8c-a7c5-2a73a3e6ba95",
                                                                                               :value    "a",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "e9100784-98fd-4e25-a119-ac205b4ea29d",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.a_Det/Det"}]}
               #:acc-text.nlg.dictionary.item{:id         "or_Conj_Eng",
                                              :key        "or",
                                              :category   "Conj",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "501f031f-85d2-40b5-bae7-63ef07cf2750",
                                                                                               :value    "or",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "ae438e97-2211-4f5f-b871-c363b42e0661",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.or_Conj/Conj"}]}
               #:acc-text.nlg.dictionary.item{:id       "cat_N_Eng",
                                              :key      "cat",
                                              :category "N",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "fd4c986f-c467-43c4-9fdc-b83ce637e5d1",
                                                                                             :value    "cat",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id       "apple_N_Eng",
                                              :key      "apple",
                                              :category "N",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "754e08ea-d4b1-4eaa-b938-dcaab43cef3a",
                                                                                             :value    "apple",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id       "house_N_Eng",
                                              :key      "house",
                                              :category "N",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "0945add7-2215-4f6c-a66b-34bba53afb8d",
                                                                                             :value    "house",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "a_Quant_Eng",
                                              :key        "a",
                                              :category   "Quant",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "f69dcbf7-07f8-418c-95b8-2cda156cecbc",
                                                                                               :value    "a",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "4eeff37c-bff5-4b7e-bd08-e7ab2a26204e",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.a_Quant/Quant"}]}}}
