{:amr        #{#:acc-text.nlg.semantic-graph{:id          "RuXMZNtiZKidVwCw",
                                             :uid         "79319af3-b63b-49b5-9847-26b01590f63d",
                                             :name        "RS",
                                             :kind        "AMR",
                                             :category    "RS",
                                             :description "",
                                             :relations   #{{:from     "ir;s/dZ[_#lXNYg(VYs#",
                                                             :to       "Qe%@%5-dI-/q=!u#LW@z",
                                                             :role     :arg,
                                                             :index    0,
                                                             :category "Cl",
                                                             :name     "Cl"}
                                                            {:from     "pEfFcIV4r.0ca8~eIu;x",
                                                             :to       "Fz(CLM/G[YA7;1u,!Y+P",
                                                             :role     :frame,
                                                             :index    0,
                                                             :category "RS"}
                                                            {:from     "Fz(CLM/G[YA7;1u,!Y+P",
                                                             :to       "ir;s/dZ[_#lXNYg(VYs#",
                                                             :role     :instance,
                                                             :index    0,
                                                             :category "RS"}},
                                             :concepts    #{{:id       "ir;s/dZ[_#lXNYg(VYs#",
                                                             :position 3,
                                                             :type     :amr,
                                                             :label    "mkRS",
                                                             :name     "rSeRgvruaJhtQfTd",
                                                             :category "RS"}
                                                            {:id       "Qe%@%5-dI-/q=!u#LW@z",
                                                             :position 4,
                                                             :type     :reference,
                                                             :name     "item",
                                                             :label    "Pe%*={QQ7C{9|~=U{YZ0",
                                                             :category "Cl"}
                                                            {:id       "Fz(CLM/G[YA7;1u,!Y+P",
                                                             :position 2,
                                                             :type     :frame,
                                                             :category "RS"}
                                                            {:id       "pEfFcIV4r.0ca8~eIu;x",
                                                             :position 1,
                                                             :type     :document-plan,
                                                             :category "RS"}}}
               #:acc-text.nlg.semantic-graph{:id          "rSeRgvruaJhtQfTd",
                                             :uid         "d1d44c1a-58aa-48f8-968c-bd4dd4caa0ec",
                                             :name        "mkRS",
                                             :kind        "RGL",
                                             :category    "RS",
                                             :description "",
                                             :relations   #{{:from     "Prwd}-]QC:n+ghxifo+E",
                                                             :to       "f~|N%y|f6q`$nOd+}%.c",
                                                             :role     :arg,
                                                             :index    3,
                                                             :category "RCl",
                                                             :name     "RCl"}
                                                            {:from     "MwP74T:LTLR6OI)dyd3p",
                                                             :to       "Prwd}-]QC:n+ghxifo+E",
                                                             :role     :instance,
                                                             :index    0,
                                                             :category "RS"}
                                                            {:from     "f~|N%y|f6q`$nOd+}%.c",
                                                             :to       "m/=7q|/)UfH@-aV8UJ^[",
                                                             :role     :arg,
                                                             :index    0,
                                                             :category "Cl",
                                                             :name     "Cl"}
                                                            {:from     "o?:VFYoji-#*jVGm-HH;",
                                                             :to       "MwP74T:LTLR6OI)dyd3p",
                                                             :role     :frame,
                                                             :index    0,
                                                             :category "RS"}},
                                             :concepts    #{{:id       "Prwd}-]QC:n+ghxifo+E",
                                                             :position 3,
                                                             :type     :operation,
                                                             :name     "mkRS",
                                                             :label    "Syntax.mkRS/(Tense)->(Ant)->(Pol)->RCl->RS",
                                                             :category "RS",
                                                             :module   "Syntax"}
                                                            {:id       "m/=7q|/)UfH@-aV8UJ^[",
                                                             :position 8,
                                                             :type     :reference,
                                                             :name     "Cl",
                                                             :label    "tr71C)oD3Cg2WdPgl5mZ",
                                                             :category "Cl"}
                                                            {:id       "f~|N%y|f6q`$nOd+}%.c",
                                                             :position 7,
                                                             :type     :operation,
                                                             :name     "mkRCl",
                                                             :label    "Syntax.mkRCl/Cl->RCl",
                                                             :category "RCl",
                                                             :module   "Syntax"}
                                                            {:id       "o?:VFYoji-#*jVGm-HH;",
                                                             :position 1,
                                                             :type     :document-plan,
                                                             :category "RS"}
                                                            {:id       "MwP74T:LTLR6OI)dyd3p",
                                                             :position 2,
                                                             :type     :frame,
                                                             :category "RS"}}}},
 :data       {},
 :readers    #{},
 :dictionary #{#:acc-text.nlg.dictionary.item{:id         "questMark_Punct_Eng",
                                              :key        "questMark",
                                              :category   "Punct",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "e692cb32-d046-46a4-9727-627ae8eb7bb8",
                                                                                               :value    "?",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "e4af6d66-aa7f-4214-bbef-53be0717c36f",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.questMarkPunct/Punct"}]}
               #:acc-text.nlg.dictionary.item{:id         "which_RP_Eng",
                                              :key        "which",
                                              :category   "RP",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "fa740111-c00a-446b-bb37-af6e40e241c8",
                                                                                               :value    "which",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "12445c63-0a57-4ac0-8269-076dc3903000",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.which_RP/RP"}]}
               #:acc-text.nlg.dictionary.item{:id         "we_NP_Eng",
                                              :key        "we",
                                              :category   "NP",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "8ea84be2-9330-45c9-9e00-6a8825039e03",
                                                                                               :value    "we",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "29056b03-2604-47b1-9a51-9d1db846470b",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.we_NP/NP"}]}
               #:acc-text.nlg.dictionary.item{:id         "please_Voc_Eng",
                                              :key        "please",
                                              :category   "Voc",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "218abeb9-347c-4637-bd12-bf16c890500d",
                                                                                               :value    "please",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "b0beaa1f-899a-40ed-8359-7ea14fae0c11",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.please_Voc/Voc"}]}
               #:acc-text.nlg.dictionary.item{:id       "big_A_Eng",
                                              :key      "big",
                                              :category "A",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "5c63ddb8-f1a5-4f5c-8bbc-de45cbe29336",
                                                                                             :value    "big",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "that_Subj_Eng",
                                              :key        "that",
                                              :category   "Subj",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "a98aa820-c6ab-4f0d-ab23-9275393461d7",
                                                                                               :value    "that",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "3bcba590-4b0e-4f86-9149-596e6643e5fe",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.that_Subj/Subj"}]}
               #:acc-text.nlg.dictionary.item{:id         "a_Det_Eng",
                                              :key        "a",
                                              :category   "Det",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "1d5cf2e2-af95-4a8c-a7c5-2a73a3e6ba95",
                                                                                               :value    "a",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "e9100784-98fd-4e25-a119-ac205b4ea29d",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.a_Det/Det"}]}
               #:acc-text.nlg.dictionary.item{:id         "we_Pron_Eng",
                                              :key        "we",
                                              :category   "Pron",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "13dd37b5-b84e-4a57-80e5-4079454a560c",
                                                                                               :value    "we",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "321a5fd0-a10d-4ef3-ac69-f29b3b770a82",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.we_Pron/Pron"}]}
               #:acc-text.nlg.dictionary.item{:id         "because_Subj_Eng",
                                              :key        "because",
                                              :category   "Subj",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "3753a7e7-5c04-4df3-a87a-5edbea4f3a8b",
                                                                                               :value    "because",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "ceccf855-446c-43dd-9447-1f7c5af06e14",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.because_Subj/Subj"}]}
               #:acc-text.nlg.dictionary.item{:id       "cat_N_Eng",
                                              :key      "cat",
                                              :category "N",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "fd4c986f-c467-43c4-9fdc-b83ce637e5d1",
                                                                                             :value    "cat",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id       "apple_N_Eng",
                                              :key      "apple",
                                              :category "N",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "754e08ea-d4b1-4eaa-b938-dcaab43cef3a",
                                                                                             :value    "apple",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "that_Quant_Eng",
                                              :key        "that",
                                              :category   "Quant",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "3e687f88-94f8-4a39-865a-c73dffcc6c69",
                                                                                               :value    "that",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "0459f831-6bfc-45f7-aaf7-f9f132966146",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.that_Quant/Quant"}]}
               #:acc-text.nlg.dictionary.item{:id       "house_N_Eng",
                                              :key      "house",
                                              :category "N",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "0945add7-2215-4f6c-a66b-34bba53afb8d",
                                                                                             :value    "house",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "these_NP_Eng",
                                              :key        "these",
                                              :category   "NP",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "ce835391-5cb3-4d76-8e67-e48cb9e112d4",
                                                                                               :value    "these",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "e28ef66f-42e7-43aa-84f1-d9b50ce91e83",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.these_NP/NP"}]}
               #:acc-text.nlg.dictionary.item{:id         "a_Quant_Eng",
                                              :key        "a",
                                              :category   "Quant",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "f69dcbf7-07f8-418c-95b8-2cda156cecbc",
                                                                                               :value    "a",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "4eeff37c-bff5-4b7e-bd08-e7ab2a26204e",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.a_Quant/Quant"}]}
               #:acc-text.nlg.dictionary.item{:id         "behind_Prep_Eng",
                                              :key        "behind",
                                              :category   "Prep",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "c4d8c162-88d6-4d3e-ac36-f1255d8bbc8f",
                                                                                               :value    "behind",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "2365b6aa-7764-441c-a9c2-d56f6f8ae825",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.behind_Prep/Prep"}]}
               #:acc-text.nlg.dictionary.item{:id         "that_Det_Eng",
                                              :key        "that",
                                              :category   "Det",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "8b5d5171-ca63-4e3b-ae9e-a528293de370",
                                                                                               :value    "that",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "9888aae7-a45c-4b58-95ac-2f788ea172c6",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.that_Det/Det"}]}
               #:acc-text.nlg.dictionary.item{:id         "that_NP_Eng",
                                              :key        "that",
                                              :category   "NP",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "3663c00d-ebc4-4fb7-8503-7d290864057b",
                                                                                               :value    "that",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "c972d25a-f5b0-438c-8329-1daa305033cf",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.that_NP/NP"}]}
               #:acc-text.nlg.dictionary.item{:id         "these_Det_Eng",
                                              :key        "these",
                                              :category   "Det",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "756d8c28-3b01-484c-9d5a-5706e4bcb24c",
                                                                                               :value    "these",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "fbeed8d6-5ca7-4ceb-b658-20341c3f9e39",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.these_Det/Det"}]}}}
