{:amr        #{#:acc-text.nlg.semantic-graph{:id          "uCLCkLVhJtbqGrHo",
                                             :uid         "e9e4cc74-c51b-45a2-841a-cf1a30216fb3",
                                             :name        "mkS",
                                             :kind        "RGL",
                                             :category    "S",
                                             :description "",
                                             :relations   #{{:from     "DQN%zNy6w.!TZB37JTJt",
                                                             :to       "sf(r3R^X*rHkHA]SWQA9",
                                                             :role     :frame,
                                                             :index    0,
                                                             :category "S"}
                                                            {:from     ";cQC0V!+civu!p(GKThf",
                                                             :to       "PE=Q_v7U3NpUbHLv|Rbe",
                                                             :role     :arg,
                                                             :index    3,
                                                             :category "Cl",
                                                             :name     "Cl"}
                                                            {:from     "sf(r3R^X*rHkHA]SWQA9",
                                                             :to       ";cQC0V!+civu!p(GKThf",
                                                             :role     :instance,
                                                             :index    0,
                                                             :category "S"}},
                                             :concepts    #{{:id       "PE=Q_v7U3NpUbHLv|Rbe",
                                                             :position 7,
                                                             :type     :reference,
                                                             :name     "Cl",
                                                             :label    "A}!zn!*`h|MOw`y=vR!u",
                                                             :category "Cl"}
                                                            {:id "sf(r3R^X*rHkHA]SWQA9", :position 2, :type :frame, :category "S"}
                                                            {:id       ";cQC0V!+civu!p(GKThf",
                                                             :position 3,
                                                             :type     :operation,
                                                             :name     "mkS",
                                                             :label    "Syntax.mkS/(Tense)->(Ant)->(Pol)->Cl->S",
                                                             :category "S",
                                                             :module   "Syntax"}
                                                            {:id       "DQN%zNy6w.!TZB37JTJt",
                                                             :position 1,
                                                             :type     :document-plan,
                                                             :category "S"}}}
               #:acc-text.nlg.semantic-graph{:id          "RuXMZNtiZKidVwCw",
                                             :uid         "79319af3-b63b-49b5-9847-26b01590f63d",
                                             :name        "RS",
                                             :kind        "AMR",
                                             :category    "RS",
                                             :description "",
                                             :relations   #{{:from     "ir;s/dZ[_#lXNYg(VYs#",
                                                             :to       "Qe%@%5-dI-/q=!u#LW@z",
                                                             :role     :arg,
                                                             :index    0,
                                                             :category "Cl",
                                                             :name     "Cl"}
                                                            {:from     "pEfFcIV4r.0ca8~eIu;x",
                                                             :to       "Fz(CLM/G[YA7;1u,!Y+P",
                                                             :role     :frame,
                                                             :index    0,
                                                             :category "RS"}
                                                            {:from     "Fz(CLM/G[YA7;1u,!Y+P",
                                                             :to       "ir;s/dZ[_#lXNYg(VYs#",
                                                             :role     :instance,
                                                             :index    0,
                                                             :category "RS"}},
                                             :concepts    #{{:id       "ir;s/dZ[_#lXNYg(VYs#",
                                                             :position 3,
                                                             :type     :amr,
                                                             :label    "mkRS",
                                                             :name     "rSeRgvruaJhtQfTd",
                                                             :category "RS"}
                                                            {:id       "Qe%@%5-dI-/q=!u#LW@z",
                                                             :position 4,
                                                             :type     :reference,
                                                             :name     "item",
                                                             :label    "Pe%*={QQ7C{9|~=U{YZ0",
                                                             :category "Cl"}
                                                            {:id       "Fz(CLM/G[YA7;1u,!Y+P",
                                                             :position 2,
                                                             :type     :frame,
                                                             :category "RS"}
                                                            {:id       "pEfFcIV4r.0ca8~eIu;x",
                                                             :position 1,
                                                             :type     :document-plan,
                                                             :category "RS"}}}
               #:acc-text.nlg.semantic-graph{:id          "VvkIpXuWefuhgLka",
                                             :uid         "678289fb-2cf5-4505-a05e-9e4dc96c05c7",
                                             :name        "S",
                                             :kind        "AMR",
                                             :category    "S",
                                             :description "",
                                             :relations   #{{:from     ".9ow9cU{CIAUcby+]6FE",
                                                             :to       "+nP)hBbJFw[w4^YV|__j",
                                                             :role     :frame,
                                                             :index    0,
                                                             :category "S"}
                                                            {:from     "-k-8/;wDMsB+%=-!:twv",
                                                             :to       "h}8]xZeEs:fqIkK]^r*p",
                                                             :role     :arg,
                                                             :index    0,
                                                             :category "Cl",
                                                             :name     "Cl"}
                                                            {:from     "+nP)hBbJFw[w4^YV|__j",
                                                             :to       "-k-8/;wDMsB+%=-!:twv",
                                                             :role     :instance,
                                                             :index    0,
                                                             :category "S"}},
                                             :concepts    #{{:id       "h}8]xZeEs:fqIkK]^r*p",
                                                             :position 4,
                                                             :type     :reference,
                                                             :name     "item",
                                                             :label    "A}oD@F#PREZ6S0qn$5gv",
                                                             :category "Cl"}
                                                            {:id       ".9ow9cU{CIAUcby+]6FE",
                                                             :position 1,
                                                             :type     :document-plan,
                                                             :category "S"}
                                                            {:id "+nP)hBbJFw[w4^YV|__j", :position 2, :type :frame, :category "S"}
                                                            {:id       "-k-8/;wDMsB+%=-!:twv",
                                                             :position 3,
                                                             :type     :amr,
                                                             :label    "mkS",
                                                             :name     "uCLCkLVhJtbqGrHo",
                                                             :category "S"}}}
               #:acc-text.nlg.semantic-graph{:id          "rSeRgvruaJhtQfTd",
                                             :uid         "d1d44c1a-58aa-48f8-968c-bd4dd4caa0ec",
                                             :name        "mkRS",
                                             :kind        "RGL",
                                             :category    "RS",
                                             :description "",
                                             :relations   #{{:from     "Prwd}-]QC:n+ghxifo+E",
                                                             :to       "f~|N%y|f6q`$nOd+}%.c",
                                                             :role     :arg,
                                                             :index    3,
                                                             :category "RCl",
                                                             :name     "RCl"}
                                                            {:from     "MwP74T:LTLR6OI)dyd3p",
                                                             :to       "Prwd}-]QC:n+ghxifo+E",
                                                             :role     :instance,
                                                             :index    0,
                                                             :category "RS"}
                                                            {:from     "f~|N%y|f6q`$nOd+}%.c",
                                                             :to       "m/=7q|/)UfH@-aV8UJ^[",
                                                             :role     :arg,
                                                             :index    0,
                                                             :category "Cl",
                                                             :name     "Cl"}
                                                            {:from     "o?:VFYoji-#*jVGm-HH;",
                                                             :to       "MwP74T:LTLR6OI)dyd3p",
                                                             :role     :frame,
                                                             :index    0,
                                                             :category "RS"}},
                                             :concepts    #{{:id       "Prwd}-]QC:n+ghxifo+E",
                                                             :position 3,
                                                             :type     :operation,
                                                             :name     "mkRS",
                                                             :label    "Syntax.mkRS/(Tense)->(Ant)->(Pol)->RCl->RS",
                                                             :category "RS",
                                                             :module   "Syntax"}
                                                            {:id       "m/=7q|/)UfH@-aV8UJ^[",
                                                             :position 8,
                                                             :type     :reference,
                                                             :name     "Cl",
                                                             :label    "tr71C)oD3Cg2WdPgl5mZ",
                                                             :category "Cl"}
                                                            {:id       "f~|N%y|f6q`$nOd+}%.c",
                                                             :position 7,
                                                             :type     :operation,
                                                             :name     "mkRCl",
                                                             :label    "Syntax.mkRCl/Cl->RCl",
                                                             :category "RCl",
                                                             :module   "Syntax"}
                                                            {:id       "o?:VFYoji-#*jVGm-HH;",
                                                             :position 1,
                                                             :type     :document-plan,
                                                             :category "RS"}
                                                            {:id       "MwP74T:LTLR6OI)dyd3p",
                                                             :position 2,
                                                             :type     :frame,
                                                             :category "RS"}}}},
 :data       {},
 :readers    #{},
 :dictionary #{#:acc-text.nlg.dictionary.item{:id         "nothing_NP_Eng",
                                              :key        "nothing",
                                              :category   "NP",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "893d46b3-b067-4133-963e-86719fa39bf8",
                                                                                               :value    "nothing",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "d2034553-e18b-44ab-9954-ef63555979ae",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.nothing_NP/NP"}]}
               #:acc-text.nlg.dictionary.item{:id         "nobody_NP_Eng",
                                              :key        "nobody",
                                              :category   "NP",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "fb214f27-591c-4c96-b917-26b18d2299e2",
                                                                                               :value    "nobody",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "708f36ff-14b5-4090-b8ac-36591a9a056d",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.nobody_NP/NP"}]}
               #:acc-text.nlg.dictionary.item{:id         "a_Det_Eng",
                                              :key        "a",
                                              :category   "Det",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "6f447670-fa06-4b1b-942f-b3bd20672ab7",
                                                                                               :value    "a",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "64b6c599-9780-4ec1-ac43-0d89c99d5aeb",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.a_Det/Det"}]}
               #:acc-text.nlg.dictionary.item{:id         "a_Quant_Eng",
                                              :key        "a",
                                              :category   "Quant",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "91cf6e18-8927-4980-ab9f-22e4b417f202",
                                                                                               :value    "a",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "d6871e41-41da-4efb-b325-59c13d15478a",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.a_Quant/Quant"}]}
               #:acc-text.nlg.dictionary.item{:id         "somewhere_Adv_Eng",
                                              :key        "somewhere",
                                              :category   "Adv",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "731d71fa-18ac-4868-b2b5-db48f2b72581",
                                                                                               :value    "somewhere",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "700fe24a-1397-48c7-857c-0c0ddcaad6a8",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.somewhere_Adv/Adv"}]}
               #:acc-text.nlg.dictionary.item{:id       "big_A_Eng",
                                              :key      "big",
                                              :category "A",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "765ddb2b-7423-4352-9695-beb581a4a358",
                                                                                             :value    "big",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id       "house_N_Eng",
                                              :key      "house",
                                              :category "N",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "54e185ac-a7c7-4bf3-8303-7e518820c0a9",
                                                                                             :value    "house",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "where_IAdv_Eng",
                                              :key        "where",
                                              :category   "IAdv",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "3ae47051-ca20-40f3-97ec-ef373132a455",
                                                                                               :value    "where",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "1f9279e6-eca0-44b3-88cb-844798e09933",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.where_IAdv/IAdv"}]}
               #:acc-text.nlg.dictionary.item{:id       "friendly_A_Eng",
                                              :key      "friendly",
                                              :category "A",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "ce771e40-b114-4e4a-b04a-9a85aa789d12",
                                                                                             :value    "friendly",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "when_Subj_Eng",
                                              :key        "when",
                                              :category   "Subj",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "a16cc830-387b-47a7-ad1f-10b3c13a59c4",
                                                                                               :value    "when",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "0ddfb894-aeb5-46a1-b682-359707d84d4a",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.when_Subj/Subj"}]}
               #:acc-text.nlg.dictionary.item{:id       "apple_N_Eng",
                                              :key      "apple",
                                              :category "N",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "fca0a1ac-cb6c-454d-bbbb-a0334cc19bf2",
                                                                                             :value    "apple",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "everywhere_Adv_Eng",
                                              :key        "everywhere",
                                              :category   "Adv",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "cd1e013e-3d1b-49c1-b5a9-142738f64764",
                                                                                               :value    "everywhere",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "2dec3ce4-b784-4af0-98fc-3a52f0a91fa0",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.everywhere_Adv/Adv"}]}
               #:acc-text.nlg.dictionary.item{:id       "cat_N_Eng",
                                              :key      "cat",
                                              :category "N",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "0e9def8c-a780-4ef9-b899-5595cb8ebbd5",
                                                                                             :value    "cat",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "when_IAdv_Eng",
                                              :key        "when",
                                              :category   "IAdv",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "2e68f583-3276-4730-9c90-751fd805da2e",
                                                                                               :value    "when",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "331b398c-0abf-44e5-8985-41452f2d7db9",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.when_IAdv/IAdv"}]}
               #:acc-text.nlg.dictionary.item{:id         "always_AdV_Eng",
                                              :key        "always",
                                              :category   "AdV",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "3d6c5ee7-2d6d-451a-a802-90f2c6c943da",
                                                                                               :value    "always",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "3fc8b2c0-04f1-4445-919e-7669543a1663",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.always_AdV/AdV"}]}}}
