{:amr        #{},
 :data       {},
 :readers    #{},
 :dictionary #{#:acc-text.nlg.dictionary.item{:id       "house_N_Eng",
                                              :key      "house",
                                              :category "N",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "f105430e-7d4d-4747-8201-cd3afe92aec6",
                                                                                             :value    "house",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "aPl_Det_Eng",
                                              :key        "aPl",
                                              :category   "Det",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "3954ed77-3e3f-42fb-aec4-663d1e3aece9",
                                                                                               :value    "aPl",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "3e59e5a1-4e6b-4122-9a64-b45abe7f1e4c",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.aPl_Det/Det"}]}
               #:acc-text.nlg.dictionary.item{:id       "cat_N_Eng",
                                              :key      "cat",
                                              :category "N",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "bfc7236a-ff69-4f68-b84f-5083d515af41",
                                                                                             :value    "cat",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "or_Conj_Eng",
                                              :key        "or",
                                              :category   "Conj",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "e6a29adf-6a11-405c-afc8-ce9c1030dbc8",
                                                                                               :value    "or",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "46253c72-bd9e-419e-83af-af916bf87295",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.or_Conj/Conj"}]}
               #:acc-text.nlg.dictionary.item{:id         "if_Subj_Eng",
                                              :key        "if",
                                              :category   "Subj",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "056505cb-a0fc-47ae-a9c9-d596a61feae3",
                                                                                               :value    "if",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "4415284e-5144-4d4d-835d-7ae987a05cab",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.if_Subj/Subj"}]}
               #:acc-text.nlg.dictionary.item{:id       "hill_N_Eng",
                                              :key      "hill",
                                              :category "N",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "771dd884-d735-4f8b-b260-11b57ae031fd",
                                                                                             :value    "hill",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "aSg_Det_Eng",
                                              :key        "aSg",
                                              :category   "Det",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "e8e72be3-ca47-4d4d-b617-b819f9c90575",
                                                                                               :value    "aSg",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "1fe41f24-886b-425a-9efc-f0b3715d55ab",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.aSg_Det/Det"}]}
               #:acc-text.nlg.dictionary.item{:id       "big_A_Eng",
                                              :key      "big",
                                              :category "A",
                                              :language "Eng",
                                              :forms    [#:acc-text.nlg.dictionary.item.form{:id       "cb8abee3-e387-42be-b406-4c4bdc73c15a",
                                                                                             :value    "big",
                                                                                             :default? true}]}
               #:acc-text.nlg.dictionary.item{:id         "if_then_Conj_Eng",
                                              :key        "if",
                                              :category   "Conj",
                                              :language   "Eng",
                                              :forms      [#:acc-text.nlg.dictionary.item.form{:id       "db9eecd2-900c-4901-97b8-08b669f6ae0d",
                                                                                               :value    "if",
                                                                                               :default? true}],
                                              :attributes [#:acc-text.nlg.dictionary.item.attr{:id    "b0915e73-cbe6-4dea-ab48-d1037fe3c7b8",
                                                                                               :name  "Operation",
                                                                                               :value "Syntax.if_then_Conj/Conj"}]}}}
