{:amr
 (#:acc-text.nlg.semantic-graph{:id "kTErYCgvoTGwxgpr",
                                :name "test",
                                :category "Str",
                                :relations
                                ({:from :01,
                                  :to :02,
                                  :role :segment,
                                  :index 0}
                                 {:from :02,
                                  :to :03,
                                  :role :instance,
                                  :index 0}
                                 {:from :03,
                                  :to :04,
                                  :role :arg,
                                  :index 0,
                                  :category "Str",
                                  :name "Cl"}),
                                :concepts
                                ({:id :01, :type :document-plan}
                                 {:id :02, :type :segment}
                                 {:id :03,
                                  :type :amr,
                                  :name "nmAUOjBoGcgLLHqp"}
                                 {:id :04,
                                  :type :reference,
                                  :name "item"})}
  #:acc-text.nlg.semantic-graph{:id "nmAUOjBoGcgLLHqp",
                                :name "test",
                                :category "Str",
                                :relations
                                ({:from :01,
                                  :to :02,
                                  :role :segment,
                                  :index 0}
                                 {:from :02,
                                  :to :03,
                                  :role :instance,
                                  :index 0}
                                 {:from :03,
                                  :to :07,
                                  :role :arg,
                                  :index 3,
                                  :category "Cl"}
                                 {:from :07,
                                  :to :08,
                                  :role :statement,
                                  :index 0}
                                 {:from :08, :to :09, :role :predicate}
                                 {:from :08,
                                  :to :10,
                                  :role :then-expression}),
                                :concepts
                                ({:id :01, :type :document-plan}
                                 {:id :02, :type :segment}
                                 {:id :03,
                                  :type :amr,
                                  :name
                                  "Syntax.mkS/(Tense)->(Ant)->(Pol)->Cl->S"}
                                 {:id :07, :type :condition}
                                 {:id :08, :type :if-statement}
                                 {:id :09,
                                  :type :reference,
                                  :name "Cl"}
                                 {:id :10,
                                  :type :reference,
                                  :name "Cl"})})}
