{:amr
 (#:acc-text.nlg.semantic-graph{:id "FGTwjtvfVUcVJQPA",
                                :name "N -> Passive V -> N",
                                :category "Str",
                                :relations
                                ({:from :01,
                                  :to :02,
                                  :role :segment,
                                  :index 0}
                                 {:from :01,
                                  :to :04,
                                  :role :segment,
                                  :index 1}
                                 {:from :01,
                                  :to :06,
                                  :role :segment,
                                  :index 2}
                                 {:from :01,
                                  :to :08,
                                  :role :segment,
                                  :index 3}
                                 {:from :01,
                                  :to :10,
                                  :role :segment,
                                  :index 4}
                                 {:from :01,
                                  :to :26,
                                  :role :segment,
                                  :index 5}
                                 {:from :01,
                                  :to :41,
                                  :role :segment,
                                  :index 6}
                                 {:from :01,
                                  :to :52,
                                  :role :segment,
                                  :index 7}
                                 {:from :01,
                                  :to :60,
                                  :role :segment,
                                  :index 8}
                                 {:from :01,
                                  :to :63,
                                  :role :segment,
                                  :index 9}
                                 {:from :01,
                                  :to :68,
                                  :role :segment,
                                  :index 10}
                                 {:from :02,
                                  :to :03,
                                  :role :instance,
                                  :index 0}
                                 {:from :04,
                                  :to :05,
                                  :role :instance,
                                  :index 0}
                                 {:from :06,
                                  :to :07,
                                  :role :instance,
                                  :index 0}
                                 {:from :08,
                                  :to :09,
                                  :role :instance,
                                  :index 0}
                                 {:from :10,
                                  :to :11,
                                  :role :instance,
                                  :index 0}
                                 {:from :11,
                                  :to :12,
                                  :role :arg,
                                  :index 0,
                                  :category "S"}
                                 {:from :12,
                                  :to :13,
                                  :role :arg,
                                  :index 0,
                                  :category "Tense",
                                  :name "(Tense)"}
                                 {:from :12,
                                  :to :16,
                                  :role :arg,
                                  :index 3,
                                  :category "Cl"}
                                 {:from :16,
                                  :to :17,
                                  :role :arg,
                                  :index 0,
                                  :category "NP"}
                                 {:from :16,
                                  :to :19,
                                  :role :arg,
                                  :index 1,
                                  :category "VP"}
                                 {:from :17,
                                  :to :18,
                                  :role :arg,
                                  :index 0,
                                  :category "N"}
                                 {:from :19,
                                  :to :20,
                                  :role :arg,
                                  :index 0,
                                  :category "VP"}
                                 {:from :19,
                                  :to :22,
                                  :role :arg,
                                  :index 1,
                                  :category "Adv"}
                                 {:from :20,
                                  :to :21,
                                  :role :arg,
                                  :index 0,
                                  :category "V2"}
                                 {:from :22,
                                  :to :23,
                                  :role :arg,
                                  :index 0,
                                  :category "Prep"}
                                 {:from :22,
                                  :to :24,
                                  :role :arg,
                                  :index 1,
                                  :category "NP"}
                                 {:from :24,
                                  :to :25,
                                  :role :arg,
                                  :index 0,
                                  :category "N"}
                                 {:from :26,
                                  :to :27,
                                  :role :instance,
                                  :index 0}
                                 {:from :27,
                                  :to :28,
                                  :role :arg,
                                  :index 0,
                                  :category "Tense",
                                  :name "(Tense)"}
                                 {:from :27,
                                  :to :31,
                                  :role :arg,
                                  :index 3,
                                  :category "Cl"}
                                 {:from :31,
                                  :to :32,
                                  :role :arg,
                                  :index 0,
                                  :category "NP"}
                                 {:from :31,
                                  :to :34,
                                  :role :arg,
                                  :index 1,
                                  :category "VP"}
                                 {:from :32,
                                  :to :33,
                                  :role :arg,
                                  :index 0,
                                  :category "N"}
                                 {:from :34,
                                  :to :35,
                                  :role :arg,
                                  :index 0,
                                  :category "VP"}
                                 {:from :34,
                                  :to :37,
                                  :role :arg,
                                  :index 1,
                                  :category "Adv"}
                                 {:from :35,
                                  :to :36,
                                  :role :arg,
                                  :index 0,
                                  :category "V2"}
                                 {:from :37,
                                  :to :38,
                                  :role :arg,
                                  :index 0,
                                  :category "Prep"}
                                 {:from :37,
                                  :to :39,
                                  :role :arg,
                                  :index 1,
                                  :category "NP"}
                                 {:from :39,
                                  :to :40,
                                  :role :arg,
                                  :index 0,
                                  :category "N"}
                                 {:from :41,
                                  :to :42,
                                  :role :instance,
                                  :index 0}
                                 {:from :42,
                                  :to :43,
                                  :role :arg,
                                  :index 0,
                                  :category "NP"}
                                 {:from :42,
                                  :to :45,
                                  :role :arg,
                                  :index 1,
                                  :category "VP"}
                                 {:from :43,
                                  :to :44,
                                  :role :arg,
                                  :index 0,
                                  :category "N"}
                                 {:from :45,
                                  :to :46,
                                  :role :arg,
                                  :index 0,
                                  :category "VP"}
                                 {:from :45,
                                  :to :48,
                                  :role :arg,
                                  :index 1,
                                  :category "Adv"}
                                 {:from :46,
                                  :to :47,
                                  :role :arg,
                                  :index 0,
                                  :category "V2"}
                                 {:from :48,
                                  :to :49,
                                  :role :arg,
                                  :index 0,
                                  :category "Prep"}
                                 {:from :48,
                                  :to :50,
                                  :role :arg,
                                  :index 1,
                                  :category "NP"}
                                 {:from :50,
                                  :to :51,
                                  :role :arg,
                                  :index 0,
                                  :category "N"}
                                 {:from :52,
                                  :to :53,
                                  :role :instance,
                                  :index 0}
                                 {:from :53,
                                  :to :54,
                                  :role :arg,
                                  :index 0,
                                  :category "VP"}
                                 {:from :53,
                                  :to :56,
                                  :role :arg,
                                  :index 1,
                                  :category "Adv"}
                                 {:from :54,
                                  :to :55,
                                  :role :arg,
                                  :index 0,
                                  :category "V2"}
                                 {:from :56,
                                  :to :57,
                                  :role :arg,
                                  :index 0,
                                  :category "Prep"}
                                 {:from :56,
                                  :to :58,
                                  :role :arg,
                                  :index 1,
                                  :category "NP"}
                                 {:from :58,
                                  :to :59,
                                  :role :arg,
                                  :index 0,
                                  :category "N"}
                                 {:from :60,
                                  :to :61,
                                  :role :instance,
                                  :index 0}
                                 {:from :61,
                                  :to :62,
                                  :role :arg,
                                  :index 0,
                                  :category "V2"}
                                 {:from :63,
                                  :to :64,
                                  :role :instance,
                                  :index 0}
                                 {:from :64,
                                  :to :65,
                                  :role :arg,
                                  :index 0,
                                  :category "Prep"}
                                 {:from :64,
                                  :to :66,
                                  :role :arg,
                                  :index 1,
                                  :category "NP"}
                                 {:from :66,
                                  :to :67,
                                  :role :arg,
                                  :index 0,
                                  :category "N"}
                                 {:from :68,
                                  :to :69,
                                  :role :instance,
                                  :index 0}
                                 {:from :69,
                                  :to :70,
                                  :role :arg,
                                  :index 0,
                                  :category "N"}),
                                :concepts
                                ({:id :01, :type :document-plan}
                                 {:id :02, :type :segment}
                                 {:id :03,
                                  :type :reference,
                                  :name "N.1"}
                                 {:id :04, :type :segment}
                                 {:id :05,
                                  :type :reference,
                                  :name "N.2"}
                                 {:id :06, :type :segment}
                                 {:id :07,
                                  :type :reference,
                                  :name "V2"}
                                 {:id :08, :type :segment}
                                 {:id :09,
                                  :type :reference,
                                  :name "Prep"}
                                 {:id :10, :type :segment}
                                 {:id :11,
                                  :type :amr,
                                  :name "Syntax.mkText/S->Text"}
                                 {:id :12,
                                  :type :amr,
                                  :name
                                  "Syntax.mkS/(Tense)->(Ant)->(Pol)->Cl->S"}
                                 {:id :13,
                                  :type :amr,
                                  :name "Syntax.futureTense/Tense"}
                                 {:id :16,
                                  :type :amr,
                                  :name "Syntax.mkCl/NP->VP->Cl"}
                                 {:id :17,
                                  :type :amr,
                                  :name "Syntax.mkNP/N->NP"}
                                 {:id :18,
                                  :type :reference,
                                  :name "N.1"}
                                 {:id :19,
                                  :type :amr,
                                  :name "Syntax.mkVP/VP->Adv->VP"}
                                 {:id :20,
                                  :type :amr,
                                  :name "Syntax.passiveVP/V2->VP"}
                                 {:id :21,
                                  :type :reference,
                                  :name "V2"}
                                 {:id :22,
                                  :type :amr,
                                  :name "Syntax.mkAdv/Prep->NP->Adv"}
                                 {:id :23,
                                  :type :reference,
                                  :name "Prep"}
                                 {:id :24,
                                  :type :amr,
                                  :name "Syntax.mkNP/N->NP"}
                                 {:id :25,
                                  :type :reference,
                                  :name "N.2"}
                                 {:id :26, :type :segment}
                                 {:id :27,
                                  :type :amr,
                                  :name
                                  "Syntax.mkS/(Tense)->(Ant)->(Pol)->Cl->S"}
                                 {:id :28,
                                  :type :amr,
                                  :name "Syntax.pastTense/Tense"}
                                 {:id :31,
                                  :type :amr,
                                  :name "Syntax.mkCl/NP->VP->Cl"}
                                 {:id :32,
                                  :type :amr,
                                  :name "Syntax.mkNP/N->NP"}
                                 {:id :33,
                                  :type :reference,
                                  :name "N.1"}
                                 {:id :34,
                                  :type :amr,
                                  :name "Syntax.mkVP/VP->Adv->VP"}
                                 {:id :35,
                                  :type :amr,
                                  :name "Syntax.passiveVP/V2->VP"}
                                 {:id :36,
                                  :type :reference,
                                  :name "V2"}
                                 {:id :37,
                                  :type :amr,
                                  :name "Syntax.mkAdv/Prep->NP->Adv"}
                                 {:id :38,
                                  :type :reference,
                                  :name "Prep"}
                                 {:id :39,
                                  :type :amr,
                                  :name "Syntax.mkNP/N->NP"}
                                 {:id :40,
                                  :type :reference,
                                  :name "N.2"}
                                 {:id :41, :type :segment}
                                 {:id :42,
                                  :type :amr,
                                  :name "Syntax.mkCl/NP->VP->Cl"}
                                 {:id :43,
                                  :type :amr,
                                  :name "Syntax.mkNP/N->NP"}
                                 {:id :44,
                                  :type :reference,
                                  :name "N.1"}
                                 {:id :45,
                                  :type :amr,
                                  :name "Syntax.mkVP/VP->Adv->VP"}
                                 {:id :46,
                                  :type :amr,
                                  :name "Syntax.passiveVP/V2->VP"}
                                 {:id :47,
                                  :type :reference,
                                  :name "V2"}
                                 {:id :48,
                                  :type :amr,
                                  :name "Syntax.mkAdv/Prep->NP->Adv"}
                                 {:id :49,
                                  :type :reference,
                                  :name "Prep"}
                                 {:id :50,
                                  :type :amr,
                                  :name "Syntax.mkNP/N->NP"}
                                 {:id :51,
                                  :type :reference,
                                  :name "N.2"}
                                 {:id :52, :type :segment}
                                 {:id :53,
                                  :type :amr,
                                  :name "Syntax.mkVP/VP->Adv->VP"}
                                 {:id :54,
                                  :type :amr,
                                  :name "Syntax.passiveVP/V2->VP"}
                                 {:id :55,
                                  :type :reference,
                                  :name "V2"}
                                 {:id :56,
                                  :type :amr,
                                  :name "Syntax.mkAdv/Prep->NP->Adv"}
                                 {:id :57,
                                  :type :reference,
                                  :name "Prep"}
                                 {:id :58,
                                  :type :amr,
                                  :name "Syntax.mkNP/N->NP"}
                                 {:id :59,
                                  :type :reference,
                                  :name "N.2"}
                                 {:id :60, :type :segment}
                                 {:id :61,
                                  :type :amr,
                                  :name "Syntax.passiveVP/V2->VP"}
                                 {:id :62,
                                  :type :reference,
                                  :name "V2"}
                                 {:id :63, :type :segment}
                                 {:id :64,
                                  :type :amr,
                                  :name "Syntax.mkAdv/Prep->NP->Adv"}
                                 {:id :65,
                                  :type :reference,
                                  :name "Prep"}
                                 {:id :66,
                                  :type :amr,
                                  :name "Syntax.mkNP/N->NP"}
                                 {:id :67,
                                  :type :reference,
                                  :name "N.2"}
                                 {:id :68, :type :segment}
                                 {:id :69,
                                  :type :amr,
                                  :name "Syntax.mkNP/N->NP"}
                                 {:id :70,
                                  :type :reference,
                                  :name "N.2"})}
  #:acc-text.nlg.semantic-graph{:id "rQqCrMfUOyjDsYyY",
                                :name "made of",
                                :category "Str",
                                :relations
                                ({:from :01,
                                  :to :02,
                                  :role :segment,
                                  :index 0}
                                 {:from :02,
                                  :to :03,
                                  :role :instance,
                                  :index 0}
                                 {:from :03,
                                  :to :04,
                                  :role :arg,
                                  :index 0,
                                  :category "Str",
                                  :name "(polarity)"}
                                 {:from :03,
                                  :to :05,
                                  :role :arg,
                                  :index 1,
                                  :category "N",
                                  :name "N.1"}
                                 {:from :03,
                                  :to :07,
                                  :role :arg,
                                  :index 2,
                                  :category "V2"}
                                 {:from :03,
                                  :to :12,
                                  :role :arg,
                                  :index 3,
                                  :category "Prep"}
                                 {:from :03,
                                  :to :14,
                                  :role :arg,
                                  :index 4,
                                  :category "N",
                                  :name "N.2"}
                                 {:from :05,
                                  :to :06,
                                  :role :arg,
                                  :index 0,
                                  :category "Str"}
                                 {:from :07,
                                  :to :08,
                                  :role :arg,
                                  :index 0,
                                  :category "V"}
                                 {:from :08,
                                  :to :09,
                                  :role :arg,
                                  :index 0,
                                  :category "Str"}
                                 {:from :08,
                                  :to :10,
                                  :role :arg,
                                  :index 1,
                                  :category "Str"}
                                 {:from :08,
                                  :to :11,
                                  :role :arg,
                                  :index 2,
                                  :category "Str"}
                                 {:from :12,
                                  :to :13,
                                  :role :arg,
                                  :index 0,
                                  :category "Str"}
                                 {:from :14,
                                  :to :15,
                                  :role :arg,
                                  :index 0,
                                  :category "Str"}),
                                :concepts
                                ({:id :01, :type :document-plan}
                                 {:id :02, :type :segment}
                                 {:id :03,
                                  :type :amr,
                                  :name "FGTwjtvfVUcVJQPA"}
                                 {:id :04,
                                  :type :reference,
                                  :name "(polarity)"}
                                 {:id :05,
                                  :type :amr,
                                  :name "ParadigmsEng.mkN/Str->N"}
                                 {:id :06,
                                  :type :reference,
                                  :name "Name"}
                                 {:id :07,
                                  :type :amr,
                                  :name "ParadigmsEng.mkV2/V->V2"}
                                 {:id :08,
                                  :type :amr,
                                  :name
                                  "ParadigmsEng.mkV/Str->Str->Str->V"}
                                 {:id :09, :type :quote, :value "make"}
                                 {:id :10, :type :quote, :value "made"}
                                 {:id :11, :type :quote, :value "made"}
                                 {:id :12,
                                  :type :amr,
                                  :name
                                  "ParadigmsEng.mkPrep/Str->Prep"}
                                 {:id :13, :type :quote, :value "of"}
                                 {:id :14,
                                  :type :amr,
                                  :name "ParadigmsEng.mkN/Str->N"}
                                 {:id :15,
                                  :type :reference,
                                  :name "Material"})})}
