{:amr [{:id             "hSyDhjvvCvzXONDU"
        :label          "test"
        :kind           "Str"
        :semantic-graph #:acc-text.nlg.semantic-graph{:relations ({:from  :01
                                                                   :to    :02
                                                                   :role  :segment
                                                                   :index 0}
                                                                  {:from  :02
                                                                   :to    :03
                                                                   :role  :instance
                                                                   :index 0}
                                                                  {:from     :03
                                                                   :to       :04
                                                                   :role     :arg
                                                                   :index    0
                                                                   :category "N"
                                                                   :name     "item"}
                                                                  {:from     :04
                                                                   :to       :05
                                                                   :role     :arg
                                                                   :index    0
                                                                   :category "Str"})
                                                      :concepts  ({:id :01 :type :document-plan}
                                                                  {:id :02 :type :segment}
                                                                  {:id   :03
                                                                   :type :amr
                                                                   :name "cZPhcxXFJxQpikWO"}
                                                                  {:id   :04
                                                                   :type :amr
                                                                   :name "ParadigmsEng.mkN/Str->N"}
                                                                  {:id   :05
                                                                   :type :reference
                                                                   :name "item"})}
        :frames         [{:examples []}]
        :roles          [{:id "ARG0" :label "item" :type "Str"}]}
       {:id             "cZPhcxXFJxQpikWO"
        :label          "polarity-test"
        :kind           "Str"
        :semantic-graph #:acc-text.nlg.semantic-graph{:relations ({:from  :01
                                                                   :to    :02
                                                                   :role  :segment
                                                                   :index 0}
                                                                  {:from  :01
                                                                   :to    :09
                                                                   :role  :segment
                                                                   :index 1}
                                                                  {:from  :02
                                                                   :to    :03
                                                                   :role  :instance
                                                                   :index 0}
                                                                  {:from     :03
                                                                   :to       :04
                                                                   :role     :arg
                                                                   :index    0
                                                                   :category "S"}
                                                                  {:from     :04
                                                                   :to       :06
                                                                   :role     :arg
                                                                   :index    1
                                                                   :category "Pol"}
                                                                  {:from     :04
                                                                   :to       :07
                                                                   :role     :arg
                                                                   :index    2
                                                                   :category "Cl"}
                                                                  {:from     :07
                                                                   :to       :08
                                                                   :role     :arg
                                                                   :index    0
                                                                   :category "N"}
                                                                  {:from  :09
                                                                   :to    :10
                                                                   :role  :instance
                                                                   :index 0}
                                                                  {:from     :10
                                                                   :to       :11
                                                                   :role     :arg
                                                                   :index    0
                                                                   :category "S"}
                                                                  {:from     :11
                                                                   :to       :13
                                                                   :role     :arg
                                                                   :index    1
                                                                   :category "Pol"}
                                                                  {:from     :11
                                                                   :to       :14
                                                                   :role     :arg
                                                                   :index    2
                                                                   :category "Cl"}
                                                                  {:from     :14
                                                                   :to       :15
                                                                   :role     :arg
                                                                   :index    0
                                                                   :category "N"})
                                                      :concepts  ({:id :01 :type :document-plan}
                                                                  {:id :02 :type :segment}
                                                                  {:id   :03
                                                                   :type :amr
                                                                   :name "Syntax.mkText/S->Text"}
                                                                  {:id   :04
                                                                   :type :amr
                                                                   :name "Syntax.mkS/Temp->Pol->Cl->S"}
                                                                  {:id   :06
                                                                   :type :amr
                                                                   :name "Syntax.negativePol/Pol"}
                                                                  {:id   :07
                                                                   :type :amr
                                                                   :name "Syntax.mkCl/N->Cl"}
                                                                  {:id   :08
                                                                   :type :reference
                                                                   :name "item"}
                                                                  {:id :09 :type :segment}
                                                                  {:id   :10
                                                                   :type :amr
                                                                   :name "Syntax.mkText/S->Text"}
                                                                  {:id   :11
                                                                   :type :amr
                                                                   :name "Syntax.mkS/Temp->Pol->Cl->S"}
                                                                  {:id    :13
                                                                   :type  :quote
                                                                   :value "FALSE"}
                                                                  {:id   :14
                                                                   :type :amr
                                                                   :name "Syntax.mkCl/N->Cl"}
                                                                  {:id   :15
                                                                   :type :reference
                                                                   :name "item"})}
        :frames         [{:examples []}]
        :roles          [{:id "ARG0" :label "item" :type "N"}]}]}
