@import '../styles/variables'
@import '../styles/groove-table'


#{ ':export' }
    // sass-lint:disable no-misspelled-properties
    dragInColor:        $blockly-lime


.className

    @include groove-table( shade-1-8( $subtle-gray ), tint-8( $subtle-gray ))

    width:              100%

    td,
    th

        padding:        $space-s

    th

        font-weight:    $bold
        text-align:     left
        vertical-align: bottom

    td
        background-color:   tint-2( $subtle-gray )
        vertical-align:     top

        &.dragInBlock

            padding:        $space-xs $space-xs 0
            width:          2rem

        &.cellName

            font-weight:    $bold
