@import '../styles/variables'


.className

    display:                grid
    grid-gap:               $space-m
    grid-template-columns:  auto 8rem

    > .right

        text-align:         right

        .add

            cursor:             pointer

        .close

            cursor:             pointer
