{:paths ["resources" "src" "test"]
 :deps  {org.clojure/clojure            {:mvn/version "1.10.1"}
         org.clojure/tools.logging      {:mvn/version "0.4.1"}
         ch.qos.logback/logback-classic {:mvn/version "1.2.3"}
         jdom/jdom                      {:mvn/version "1.0"}
         metosin/jsonista               {:mvn/version "0.2.5"}
         http-kit                       {:mvn/version "2.3.0"}
         trove/trove                    {:mvn/version "1.1-beta-5"}
         org.clojure/data.xml           {:mvn/version "0.2.0-alpha6"}
         org.clojure/math.combinatorics {:mvn/version "0.1.6"}
         ubergraph                      {:mvn/version "0.8.1"}}
 :mvn/repos
        {"central" {:url "https://repo1.maven.org/maven2/"}
         "clojars" {:url "https://clojars.org/repo"}}
 :aliases
        {:dev  {:extra-deps {org.clojure/test.check {:mvn/version "0.9.0"}}}
         :test {:extra-paths ["test"]
                :extra-deps  {com.cognitect/test-runner
                              {:git/url "https://github.com/cognitect-labs/test-runner"
                               :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
                :main-opts   ["-m" "cognitect.test-runner"]}}}
