version: '3.4'

services:
  core:
    build:
      context: ../
      dockerfile: core/Dockerfile
    environment:
      GF_ENDPOINT: http://gf:8000
      ENRICH_ENDPOINT: http://enrich:8000
    command: ["clojure", "-A:test", "-i:integration"]
  gf:
    build:
      context: ../
      dockerfile: core/gf/Dockerfile
  enrich:
    build:
      context: ../
      dockerfile: enrich/Dockerfile
