@import '../../styles/variables'


.className

    background-color:   $subtle-gray
    box-shadow:         -$space-xxs 0 $space-xxs $gray
    margin:             -$space-s 0
    padding:            0

    > .word

        margin:         0
        padding:        $space-s
