@import '../styles/variables'


#{ ':export' }
    // sass-lint:disable no-misspelled-properties
    dragInColor:        $blockly-blue


.className

    $value-background:  rgba( 255, 255, 255, 2 / 3 )

    > td

        background-color:   $value-background
        vertical-align:     top

        &.dragInBlock

            padding:        $space-xs $space-xs 0
            width:          2rem

        &.itemId

            color:          shade-2( $blue )
