@import '../styles/variables'


.className

    > .top

        display:            flex
        justify-content:    space-between
        margin-bottom:      $space-m
        width:              100%

    > .more

        cursor:             pointer
        display:            block
        margin-top:         $space-s
        padding:            $space-s
        text-align:         center
        width:              100%
