@import '../styles/variables'


.className

    &.isEditable

        cursor:         pointer

    > .phrase

        box-shadow:     inset -1px 0 0 tint-4( $gray ), 1px 0 0 $white
        display:        inline-block
        margin-right:   $space-s
        padding-right:  $space-s

    > .editIcon

        visibility:     hidden

    &:hover > .editIcon

        visibility:     visible
