@import '../styles/variables'


.className
    > td

        vertical-align:     top

        &.dragInBlock

            padding:        $space-xs $space-xs 0
            width:          2rem

        &.name

            color:          shade-2( $blue )
