{:acc-text/data-file-schema
 {:txes [[{:db/ident       :data.spec.data-file/id
           :db/unique      :db.unique/identity
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Public id of the data file"}
          {:db/ident       :data.spec.data-file/name
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Name of the data file"}
          {:db/ident       :data.spec.data-file/timestamp
           :db/valueType   :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc         "Timestamp when file was registered"}
          {:db/ident       :data.spec.data-file/content
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Content of the data file"}]

         [{:db/ident       :data.spec.reader-model/code
           :db/unique      :db.unique/identity
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Reader model code"}
          {:db/ident       :data.spec.reader-model/name
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Reader model name"}
          {:db/ident       :data.spec.reader-model/type
           :db/valueType   :db.type/keyword
           :db/cardinality :db.cardinality/one
           :db/doc         "Reader model type"}
          {:db/ident       :data.spec.reader-model/flag
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Reader model flag"}
          {:db/ident       :data.spec.reader-model/available?
           :db/valueType   :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/doc         "Reader model available?"}
          {:db/ident       :data.spec.reader-model/enabled?
           :db/valueType   :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/doc         "Reader model enabled?"}]

         [{:db/ident       :phrase/id
           :db/unique      :db.unique/identity
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Public Id of the phrase"}
          {:db/ident       :phrase/text
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Text of the phrase"}
          {:db/ident       :phrase/flags
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/many
           :db/doc         "Phrases associated with the dictionary-item"}]

         [{:db/ident       :document-plan/id
           :db/unique      :db.unique/identity
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Public Id of the document plan"}

          {:db/ident       :document-plan/uid
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "UID of the document plan"}

          {:db/ident       :document-plan/data-sample-id
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Data sample ID of the document plan"}

          {:db/ident       :document-plan/name
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Name of the document plan"}

          {:db/ident       :document-plan/kind
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Kind of the document plan"}

          {:db/ident       :document-plan/examples
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/many
           :db/doc         "Examples of the document plan"}

          {:db/ident       :document-plan/blockly-xml
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Blockly XML representation of the document plan"}

          {:db/ident       :document-plan/document-plan
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/one
           :db/doc         "Serialized document plan"}

          {:db/ident       :document-plan/created-at
           :db/valueType   :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc         "Creation timestamp of the document plan"}

          {:db/ident       :document-plan/updated-at
           :db/valueType   :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc         "Update timestamp of the document plan"}

          {:db/ident       :document-plan/data-sample-row
           :db/valueType   :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc         "Data sample row number"}

          {:db/ident       :document-plan/update-count
           :db/valueType   :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc         "Count of how many times DP was updated"}]

         [{:db/ident       :blockly/srcId
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Public Id of the blockly"}

          {:db/ident       :blockly/type
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Type of the blockly item"}

          {:db/ident       :blockly/label
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Label of the blockly item"}

          {:db/ident       :blockly/name
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Name of the blockly item"}

          {:db/ident       :blockly/text
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Text of the blockly item"}

          {:db/ident       :blockly/concept-id
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Concept ID of the blockly item when it is AMR"}

          {:db/ident       :blockly/kind
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Kind of the blockly item when it is AMR"}

          {:db/ident       :blockly/dictionary-item
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/one
           :db/doc         "Dictionary item related to the concept"}

          {:db/ident       :blockly/child
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/one
           :db/doc         "Child in blockly document plan"}

          {:db/ident       :blockly/condition
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/one
           :db/doc         "Condition in blockly document plan"}

          {:db/ident       :blockly/then-expression
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/one
           :db/doc         "Then expression in blockly document plan"}

          {:db/ident       :blockly/list
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/one
           :db/doc         "List in blockly document plan"}

          {:db/ident       :blockly/value
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/one
           :db/doc         "Value in blockly document plan"}

          {:db/ident       :blockly/modifier
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/one
           :db/doc         "Modifier in blockly document plan"}

          {:db/ident       :blockly/value-1
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/one
           :db/doc         "Value 1 in blockly document plan"}

          {:db/ident       :blockly/value–2
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/one
           :db/doc         "Value 2 in blockly document plan"}

          {:db/ident       :blockly/item-id
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Dictionary item related to the concept"}

          {:db/ident       :blockly/operator
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Operator related to value comparison"}

          {:db/ident       :blockly/segments
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/many
           :db/doc         "Segments of the blockly item"}

          {:db/ident       :blockly/children
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/many
           :db/doc         "Children of the blockly item"}

          {:db/ident       :blockly/conditions
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/many
           :db/doc         "Conditions of the blockly item"}

          {:db/ident       :blockly/hasChildren
           :db/valueType   :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/doc         "Marks if this item has children"}

          {:db/ident       :blockly/roles
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/many
           :db/doc         "Roles of the blockly item"}]

         [{:db/ident       :data.spec.result/id
           :db/unique      :db.unique/identity
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Public Id of the result"}

          {:db/ident       :data.spec.result/status
           :db/valueType   :db.type/keyword
           :db/cardinality :db.cardinality/one
           :db/doc         "Status of the result"}

          {:db/ident       :data.spec.result/error-message
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Error message of the result"}

          {:db/ident       :data.spec.result/timestamp
           :db/valueType   :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc         "Timestamp of the result"}

          {:db/ident       :data.spec.result/rows
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/many
           :db/doc         "Rows of generated text"}]

         [{:db/ident       :data.spec.result.row/id
           :db/unique      :db.unique/identity
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Id of the result row"}

          {:db/ident       :data.spec.result.row/text
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Text of the result row"}

          {:db/ident       :data.spec.result.row/language
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Language of the generated text"}

          {:db/ident       :data.spec.result.row/readers
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/many
           :db/doc         "Intended readers of the generated text"}

          {:db/ident       :data.spec.result.row/enriched?
           :db/valueType   :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/doc         "Specifies if generated text is enriched"}

          {:db/ident       :data.spec.result.row/annotations
           :db/valueType   :db.type/ref
           :db/isComponent true
           :db/cardinality :db.cardinality/many
           :db/doc         "Annotations of the generated text"}]

         [{:db/ident       :data.spec.result.annotation/id
           :db/unique      :db.unique/identity
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Id of the text annotation"}

          {:db/ident       :data.spec.result.annotation/idx
           :db/valueType   :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc         "Index of the text annotation"}

          {:db/ident       :data.spec.result.annotation/text
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Annotation text"}]

         [{:db/ident       :acc-text.nlg.dictionary.item/id
           :db/unique      :db.unique/identity
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Public Id of dictionary item"}

          {:db/ident       :acc-text.nlg.dictionary.item/key
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Dictionary item key"}

          {:db/ident       :acc-text.nlg.dictionary.item/category
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Category (part of speech tag) of dictionary item"}

          {:db/ident       :acc-text.nlg.dictionary.item/language
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Dictionary item language"}

          {:db/ident       :acc-text.nlg.dictionary.item/sense
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Sense of word"}

          {:db/ident       :acc-text.nlg.dictionary.item/definition
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Dictionary item definition"}

          {:db/ident       :acc-text.nlg.dictionary.item/forms
           :db/valueType   :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/isComponent true
           :db/doc         "Word forms"}

          {:db/ident       :acc-text.nlg.dictionary.item/attributes
           :db/valueType   :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/isComponent true
           :db/doc         "Dictionary item attributes"}

          {:db/ident       :acc-text.nlg.dictionary.item.attr/id
           :db/unique      :db.unique/identity
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Public Id of dictionary item attribute"}

          {:db/ident       :acc-text.nlg.dictionary.item.attr/name
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Key of dictionary item attribute"}

          {:db/ident       :acc-text.nlg.dictionary.item.attr/value
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Value of dictionary item attribute"}

          {:db/ident       :acc-text.nlg.dictionary.item.form/id
           :db/unique      :db.unique/identity
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Public Id dictionary item word form"}

          {:db/ident       :acc-text.nlg.dictionary.item.form/value
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Dictionary item form"}

          {:db/ident       :acc-text.nlg.dictionary.item.form/default?
           :db/valueType   :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/doc         "Is form default form"}]]}}
