{:acc-text/data-file-schema
 {:txes [[{:db/ident :data-file/id
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "Public Id of the Data File"}

          {:db/ident :data-file/filename
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "File name of the Data File"}

          {:db/ident :data-file/content
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "Content of the Data File"}]

         [{:db/ident :dictionary-combined/id
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "Public Id of the dictionary-item"}

          {:db/ident :dictionary-combined/name
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "Name of the dictionary-item"}

          {:db/ident :dictionary-combined/partOfSpeech
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "Part of speech tag of the dictionary-item"}

          {:db/ident :dictionary-combined/phrases
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/many
           :db/doc "Phrases associated with the dictionary-item"}]]}}
