{:acc-text/data-file-schema
 {:txes [[{:db/ident       :dictionary-multilang/key
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Key for word in dictionary"}
          
          {:db/ident       :dictionary-multilang/pos
           :db/valueType   :db.type/keyword
           :db/cardinality :db.cardinality/one
           :db/doc         "Part of speech tag"}

          {:db/ident       :dictionary-multilang/language
           :db/valueType   :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/doc         "Language"}

          {:db/ident       :dictionary-multilang/sense
           :db/valueType   :db.type/keyword
           :db/cardinality :db.cardinality/many
           :db/doc         "Domain for word"}

          {:db/ident       :dictionary-multilang/inflections
           :db/valueType   :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/doc         "Inflections for word"}

          {:db/ident       :dictionary-multilang/tenses
           :db/valueType   :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/doc         "Tenses for word"}

          {:db/ident       :dictionary-multilang/gender
           :db/valueType   :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/doc         "Gender for word"}

          {:db/ident       :inflection/key
           :db/valueType   :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/doc         "Key for inflection"}

          {:db/ident       :inflection/value
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Value for inflection"}

          {:db/ident       :tense/key
           :db/valueType   :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/doc         "Key for tense"}

          {:db/ident       :tense/value
           :db/valueType   :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc         "Value for tense"}

          {:db/ident       :language/eng}
          {:db/ident       :language/lit}
          {:db/ident       :language/est}
          {:db/ident       :language/lat}
          {:db/ident       :language/ger}
          {:db/ident       :language/bul}
          {:db/ident       :language/cat}
          {:db/ident       :language/chi}
          {:db/ident       :language/dut}
          {:db/ident       :language/fin}
          {:db/ident       :language/por}
          {:db/ident       :language/spa}
          {:db/ident       :language/slv}
          {:db/ident       :language/swe}
          {:db/ident       :language/tur}
          {:db/ident       :language/tha}

          {:db/ident       :inflection/nom-sg}
          {:db/ident       :inflection/nom-pl}

          {:db/ident       :tense/present}
          {:db/ident       :tense/imperfect}
          {:db/ident       :tense/perfect}
          {:db/ident       :tense/future}
          {:db/ident       :tense/plu-perfect}
          {:db/ident       :tense/future-perfect}

          {:db/ident       :gender/m}
          {:db/ident       :gender/f}
          {:db/ident       :gender/n}]]}}
