{:type "ListCN",
 :module "Grammar",
 :description "",
 :functions
 [{:function "BaseCN",
   :type ["CN" "CN" "ListCN"],
   :example "man, woman",
   :label "mkListCN"}
  {:function "ConsCN",
   :type ["CN" "ListCN" "ListCN"],
   :example "man, woman, child",
   :label "mkListCN"}]}
