@import '~bw-color-blind-palette'
@import '~sass-mix-ratio'
@import '~sass-mix-ratio/2x-scale'


/// Main colors ----------------------------------------------------------------

$black:             #000
$white:             #fff

$red:               map-get( $bw-color-blind-palette, 'vermillion' )
$orange:            map-get( $bw-color-blind-palette, 'orange' )
$yellow:            map-get( $bw-color-blind-palette, 'yellow' )
$green:             map-get( $bw-color-blind-palette, 'bluish-green' )
$cyan:              map-get( $bw-color-blind-palette, 'sky-blue' )
$blue:              map-get( $bw-color-blind-palette, 'blue' )
$magenta:           map-get( $bw-color-blind-palette, 'reddish-purple' )
/// Avoid this color without good surrounding contrast:
$lime:              mix( $yellow, $green )


/// Blockly colors -------------------------------------------------------------

$red-hue:           hue( $red )
$orange-hue:        hue( $orange )
$yellow-hue:        hue( $yellow )
$lime-hue:          hue( $lime )
$green-hue:         hue( $green )
$cyan-hue:          hue( $cyan ) /// Note: Same as blue!!!
$blue-hue:          hue( $blue )
$magenta-hue:       hue( $magenta )

$blockly-saturation:    38.46%
$blockly-lightness:     43.33%

$blockly-red:       hsl( $red-hue, $blockly-saturation, $blockly-lightness )
$blockly-orange:    hsl( $orange-hue, $blockly-saturation, $blockly-lightness )
$blockly-yellow:    hsl( $yellow-hue, $blockly-saturation, $blockly-lightness )
$blockly-lime:      hsl( $lime-hue, $blockly-saturation, $blockly-lightness )
$blockly-green:     hsl( $green-hue, $blockly-saturation, $blockly-lightness )
$blockly-cyan:      hsl( $cyan-hue, $blockly-saturation, $blockly-lightness )
$blockly-blue:      hsl( $blue-hue, $blockly-saturation, $blockly-lightness )
$blockly-magenta:   hsl( $magenta-hue, $blockly-saturation, $blockly-lightness )

/// Additional colors ----------------------------------------------------------

$primary-color:     $blockly-green
$text-color:        shade-16( $primary-color )
$text-active:       shade-1-2( $primary-color )

$gray:              mix-ratio( mix( $black, $white ), $yellow, 32 );
$subtle-gray:       tint-8( $gray )
$subtle-border:     shade-1-8( $subtle-gray )
