<configuration scan="true" scanPeriod="30 seconds">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="A1" class="ch.qos.logback.core.ConsoleAppender">
        <target>${LOGGER_TARGET:-System.out}</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} %-5p %c{1} - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="com.amazonaws" level="WARN"/>
    <logger name="datomic" level="WARN"/>
    <logger name="datomic.db" level="INFO"/>
    <logger name="api" level="DEBUG"/>
    <logger name="api.graphql" level="INFO"/>
    <logger name="core" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="A1"/>
    </root>
</configuration>
