{:type "Document-plan"
 :segments [{:type "Segment"
             :textType "description"
             :children [{:type "Product"
                         :name {:type "Cell"
                                :name "product-name"}
                         :children [{:type "Relationship"
                                     :relationshipType "provides"
                                     :children [{:type "Cell"
                                                 :name "main-feature"}
                                                {:type "AMR"
                                                 :conceptId "battle-36.4"
                                                 :dictionaryItem {:itemId "see"
                                                                  :name "see"
                                                                  :type "Dictionary-item"}
                                                 :roles [{:name "Agent" :children [{:type "Thematic-role"
                                                                                    :children [{:type "Cell"
                                                                                                :name "secondary-feature"}]}]}
                                                         {:name "coAgent" :children [{:type "Thematic-role"
                                                                                      :children [{:type "Quote"
                                                                                                  :text "TestQuote"}]}]}]}]}]}]}]}
