<configuration scan="true" scanPeriod="30 seconds">
    <appender name="A1" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%t] %-5p %c{1} - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="org.eclipse.jetty" level="WARN"/>
    <root level="DEBUG">
        <appender-ref ref="A1"/>
    </root>
</configuration>
