[;; actions
 {:key      "bring"
  :category "V"
  :language "Eng"
  :forms    ["bring" "brought" "brought"]}
 {:key      "boast"
  :category "V"
  :language "Eng"
  :forms    ["boast"]}
 {:key      "call"
  :category "V"
  :language "Eng"
  :forms    ["call"]}
 {:key      "cater"
  :category "V"
  :language "Eng"
  :forms    ["cater"]}
 {:key      "consider"
  :category "V"
  :language "Eng"
  :forms    ["consider"]}
 {:key      "cost"
  :category "V"
  :language "Eng"
  :forms    ["cost" "cost" "costs"]}
 {:key      "dine"
  :category "V"
  :language "Eng"
  :forms    ["dine"]}
 {:key      "eat"
  :category "V"
  :language "Eng"
  :forms    ["eat" "ate" "eaten"]}
 {:key      "enjoy"
  :category "V"
  :language "Eng"
  :forms    ["enjoy"]}
 {:key      "expect"
  :category "V"
  :language "Eng"
  :forms    ["expect"]}
 {:key      "find"
  :category "V"
  :language "Eng"
  :forms    ["find" "found" "found"]}
 {:key      "make"
  :category "V"
  :language "Eng"
  :forms    ["make" "made" "made"]}
 {:key      "get"
  :category "V"
  :language "Eng"
  :forms    ["get" "got" "gotten"]}
 {:key      "go"
  :category "V"
  :language "Eng"
  :forms    ["go" "goes" "went" "gone" "going"]}
 {:key      "look"
  :category "V"
  :language "Eng"
  :forms    ["look"]}
 {:key      "name"
  :category "V"
  :language "Eng"
  :forms    ["name"]}
 {:key      "offer"
  :category "V"
  :language "Eng"
  :forms    ["offer"]}
 {:key      "provide"
  :category "V"
  :language "Eng"
  :forms    ["provide"]}
 {:key      "range"
  :category "V"
  :language "Eng"
  :forms    ["range"]}
 {:key      "receive"
  :category "V"
  :language "Eng"
  :forms    ["receive"]}
 {:key      "sell"
  :category "V"
  :language "Eng"
  :forms    ["sell"]}
 {:key      "serve"
  :category "V"
  :language "Eng"
  :forms    ["serve"]}
 {:key      "take"
  :category "V"
  :language "Eng"
  :forms    ["take" "took" "taken"]}
 {:key      "taste"
  :category "V"
  :language "Eng"
  :forms    ["taste"]}
 {:key      "try"
  :category "V"
  :language "Eng"
  :forms    ["try"]}

 ;; venue descriptions
 {:key      "affordable"
  :category "A"
  :language "Eng"
  :forms    ["affordable"]}
 {:key      "adult"
  :category "A"
  :language "Eng"
  :forms    ["adult"]}
 {:key      "average"
  :category "A"
  :language "Eng"
  :forms    ["average"]}
 {:key      "bad"
  :category "A"
  :language "Eng"
  :forms    ["bad" "worse" "worst" "badly"]}
 {:key      "beautiful"
  :category "A"
  :language "Eng"
  :forms    ["beautiful"]}
 {:key      "cheap"
  :category "A"
  :language "Eng"
  :forms    ["cheap"]}
 {:key      "decent"
  :category "A"
  :language "Eng"
  :forms    ["decent"]}
 {:key      "excellent"
  :category "A"
  :language "Eng"
  :forms    ["excellent"]}
 {:key      "expensive"
  :category "A"
  :language "Eng"
  :forms    ["expensive"]}
 {:key      "friendly"
  :category "A"
  :language "Eng"
  :forms    ["friendly" "friendlier"]}
 {:key      "good"
  :category "A"
  :language "Eng"
  :forms    ["good" "better" "best" "well"]}
 {:key      "great"
  :category "A"
  :language "Eng"
  :forms    ["great"]}
 {:key      "inexpensive"
  :category "A"
  :language "Eng"
  :forms    ["inexpensive"]}
 {:key      "lovely"
  :category "A"
  :language "Eng"
  :forms    ["lovely" "lovelier"]}
 {:key      "nice"
  :category "A"
  :language "Eng"
  :forms    ["nice"]}
 {:key      "open"
  :category "A"
  :language "Eng"
  :forms    ["open"]}
 {:key      "perfect"
  :category "A"
  :language "Eng"
  :forms    ["perfect"]}
 {:key      "poor"
  :category "A"
  :language "Eng"
  :forms    ["poor"]}
 {:key      "pretty"
  :category "A"
  :language "Eng"
  :forms    ["pretty" "prettier"]}
 {:key      "reasonable"
  :category "A"
  :language "Eng"
  :forms    ["reasonable"]}
 {:key      "traditional"
  :category "A"
  :language "Eng"
  :forms    ["traditional"]}
 {:key      "unfriendly"
  :category "A"
  :language "Eng"
  :forms    ["unfriendly"]}

 ;; other food nouns
 {:key      "meal"
  :category "N"
  :language "Eng"
  :forms    ["meal"]}
 {:key      "food"
  :category "N"
  :language "Eng"
  :forms    ["food"]}

 ;; other nouns
 {:key      "range"
  :category "N"
  :language "Eng"
  :forms    ["range"]}
 {:key      "rate"
  :category "N"
  :language "Eng"
  :forms    ["rate"]}
 {:key      "price"
  :category "N"
  :language "Eng"
  :forms    ["price"]}
 {:key      "review"
  :category "N"
  :language "Eng"
  :forms    ["review"]}

 ;; food types
 {:key      "indian"
  :category "A"
  :language "Eng"
  :forms    ["indian"]}
 {:key      "chinese"
  :category "A"
  :language "Eng"
  :forms    ["chinese"]}
 {:key      "italian"
  :category "A"
  :language "Eng"
  :forms    ["italian"]}
 {:key      "oriental"
  :category "A"
  :language "Eng"
  :forms    ["oriental"]}

 ;; places
 {:key      "cafe"
  :category "N"
  :language "Eng"
  :forms    ["cafe"]}
 {:key      "eatery"
  :category "N"
  :language "Eng"
  :forms    ["eatery" "eateries"]}
 {:key      "establishment"
  :category "N"
  :language "Eng"
  :forms    ["establishment"]}
 {:key      "house"
  :category "N"
  :language "Eng"
  :forms    ["house"]}
 {:key      "place"
  :category "N"
  :language "Eng"
  :forms    ["place"]}
 {:key      "restaurant"
  :category "N"
  :language "Eng"
  :forms    ["restaurant"]}
 {:key      "shop"
  :category "N"
  :language "Eng"
  :forms    ["shop"]}
 {:key      "pub"
  :category "N"
  :language "Eng"
  :forms    ["pub"]}
 {:key      "venue"
  :category "N"
  :language "Eng"
  :forms    ["venue"]}

 ;;customer types
 {:key      "adult"
  :category "N"
  :language "Eng"
  :forms    ["adult"]}
 {:key      "kid"
  :category "N"
  :language "Eng"
  :forms    ["kid"]}
 {:key      "child"
  :category "N"
  :language "Eng"
  :forms    ["child" "children"]}
 {:key      "family"
  :category "N"
  :language "Eng"
  :forms    ["family" "families"]}

 ;; other
 {:key      "chef"
  :category "N"
  :language "Eng"
  :forms    ["chef" "chefs"]}
 {:key      "money"
  :category "N"
  :language "Eng"
  :forms    ["money" "money"]}
 {:key      "city"
  :category "N"
  :language "Eng"
  :forms    ["city"]}
 {:key      "centre"
  :category "N"
  :language "Eng"
  :forms    ["centre"]}
 {:key      "here"
  :category "Adv"
  :language "Eng"
  :forms    ["here"]}
 {:key      "there"
  :category "Adv"
  :language "Eng"
  :forms    ["there"]}
 {:key      "table"
  :category "N"
  :language "Eng"
  :forms    ["table"]}
 {:key      "family-friendly"
  :category "A"
  :language "Eng"
  :forms    ["family-friendly"]}
 {:key      "delicious"
  :category "A"
  :language "Eng"
  :forms    ["delicious"]}
 ]
