[;; actions
 #:acc-text.nlg.dictionary.item{:key      "bring_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["bring" "brought" "brought"]}
 #:acc-text.nlg.dictionary.item{:key      "boasts_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["boasts"]}
 #:acc-text.nlg.dictionary.item{:key      "call_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["call"]}
 #:acc-text.nlg.dictionary.item{:key      "cater_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["cater"]}
 #:acc-text.nlg.dictionary.item{:key      "consider_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["consider"]}
 #:acc-text.nlg.dictionary.item{:key      "cost_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["cost"]}
 #:acc-text.nlg.dictionary.item{:key      "dine_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["dine"]}
 #:acc-text.nlg.dictionary.item{:key      "eat_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["eat" "ate" "eaten"]}
 #:acc-text.nlg.dictionary.item{:key      "enjoy_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["enjoy"]}
 #:acc-text.nlg.dictionary.item{:key      "expect_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["expect"]}
 #:acc-text.nlg.dictionary.item{:key      "find_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["find" "found" "found"]}
 #:acc-text.nlg.dictionary.item{:key      "get_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["get" "got" "gotten"]}
 #:acc-text.nlg.dictionary.item{:key      "go_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["go" "goes" "went" "gone" "going"]}
 #:acc-text.nlg.dictionary.item{:key      "look_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["look"]}
 #:acc-text.nlg.dictionary.item{:key      "name_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["name"]}
 #:acc-text.nlg.dictionary.item{:key      "offer_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["offer"]}
 #:acc-text.nlg.dictionary.item{:key      "provide_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["provide"]}
 #:acc-text.nlg.dictionary.item{:key      "range_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["range"]}
 #:acc-text.nlg.dictionary.item{:key      "receive_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["receive"]}
 #:acc-text.nlg.dictionary.item{:key      "sell_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["sell"]}
 #:acc-text.nlg.dictionary.item{:key      "serve_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["serve"]}
 #:acc-text.nlg.dictionary.item{:key      "take_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["take" "took" "taken"]}
 #:acc-text.nlg.dictionary.item{:key      "taste_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["taste"]}
 #:acc-text.nlg.dictionary.item{:key      "try_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["try"]}

 ;; venue descriptions
 #:acc-text.nlg.dictionary.item{:key      "affordable_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["affordable"]}
 #:acc-text.nlg.dictionary.item{:key      "adult_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["adult"]}
 #:acc-text.nlg.dictionary.item{:key      "average_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["average"]}
 #:acc-text.nlg.dictionary.item{:key      "bad_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["bad" "worse" "worst" "badly"]}
 #:acc-text.nlg.dictionary.item{:key      "beautiful_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["beautiful"]}
 #:acc-text.nlg.dictionary.item{:key      "cheap_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["cheap"]}
 #:acc-text.nlg.dictionary.item{:key      "decent_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["decent"]}
 #:acc-text.nlg.dictionary.item{:key      "excellent_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["excellent"]}
 #:acc-text.nlg.dictionary.item{:key      "expensive_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["expensive"]}
 #:acc-text.nlg.dictionary.item{:key      "friendly_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["friendly" "friendlier"]}
 #:acc-text.nlg.dictionary.item{:key      "good_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["good" "better" "best" "well"]}
 #:acc-text.nlg.dictionary.item{:key      "great_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["great"]}
 #:acc-text.nlg.dictionary.item{:key      "inexpensive_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["inexpensive"]}
 #:acc-text.nlg.dictionary.item{:key      "lovely_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["lovely" "lovelier"]}
 #:acc-text.nlg.dictionary.item{:key      "nice_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["nice"]}
 #:acc-text.nlg.dictionary.item{:key      "open_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["open"]}
 #:acc-text.nlg.dictionary.item{:key      "perfect_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["perfect"]}
 #:acc-text.nlg.dictionary.item{:key      "poor_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["poor"]}
 #:acc-text.nlg.dictionary.item{:key      "pretty_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["pretty" "prettier"]}
 #:acc-text.nlg.dictionary.item{:key      "reasonable_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["reasonable"]}
 #:acc-text.nlg.dictionary.item{:key      "traditional_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["traditional"]}
 #:acc-text.nlg.dictionary.item{:key      "unfriendly_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["unfriendly"]}

 ;; other food nouns
 #:acc-text.nlg.dictionary.item{:key      "meal_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["meal"]}
 #:acc-text.nlg.dictionary.item{:key      "food_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["food"]}

 ;; other nouns
 #:acc-text.nlg.dictionary.item{:key      "range_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["rage"]}
 #:acc-text.nlg.dictionary.item{:key      "rate_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["rate"]}
 #:acc-text.nlg.dictionary.item{:key      "price_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["price"]}
 #:acc-text.nlg.dictionary.item{:key      "review_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["review"]}

 ;; food types
 #:acc-text.nlg.dictionary.item{:key      "indian_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["indian"]}
 #:acc-text.nlg.dictionary.item{:key      "chinese_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["chinese"]}
 #:acc-text.nlg.dictionary.item{:key      "italian_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["italian"]}
 #:acc-text.nlg.dictionary.item{:key      "oriental_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["oriental"]}

;; places
 #:acc-text.nlg.dictionary.item{:key      "cafe_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["cafe"]}
 #:acc-text.nlg.dictionary.item{:key      "eatery_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["eatery" "eateries"]}
 #:acc-text.nlg.dictionary.item{:key      "eatery_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["establishment"]}
 #:acc-text.nlg.dictionary.item{:key      "house_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["house"]}
 #:acc-text.nlg.dictionary.item{:key      "place_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["place"]}
 #:acc-text.nlg.dictionary.item{:key      "restaurant_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["restaurant"]}
 #:acc-text.nlg.dictionary.item{:key      "shop_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["shop"]}
 #:acc-text.nlg.dictionary.item{:key      "pub_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["pub"]}
 #:acc-text.nlg.dictionary.item{:key      "venue_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["venue"]}

 ;;customer types
 #:acc-text.nlg.dictionary.item{:key      "adult_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["adult"]}
 #:acc-text.nlg.dictionary.item{:key      "kid_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["kid"]}
 #:acc-text.nlg.dictionary.item{:key      "child_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["child" "children"]}
 #:acc-text.nlg.dictionary.item{:key      "family_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["family" "families"]}
]
