[#:acc-text.nlg.dictionary.item{:key        "author_1_N"
                                :sense      "1"
                                :category   "N"
                                :language   "Eng"
                                :forms      ["author" "authors"]
                                :attributes {"Gender" "masculine"}}
 #:acc-text.nlg.dictionary.item{:key      "author_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["author" "authors" "authored" "authored" "authoring"]}
 #:acc-text.nlg.dictionary.item{:key      "fast_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["fast" "faster"]}
 #:acc-text.nlg.dictionary.item{:key      "good_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["good" "better" "best" "well"]}
 #:acc-text.nlg.dictionary.item{:key      "intend_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["intend"]}
 #:acc-text.nlg.dictionary.item{:key      "locate_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["locate" "locates" "located" "located" "locating"]}
 #:acc-text.nlg.dictionary.item{:key      "make_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["make" "made" "made"]}
 #:acc-text.nlg.dictionary.item{:key      "name_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["name" "names" "named" "named" "naming"]}
 #:acc-text.nlg.dictionary.item{:key      "near_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["near" "nearer"]}
 #:acc-text.nlg.dictionary.item{:key      "place_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["place" "places"]}
 #:acc-text.nlg.dictionary.item{:key      "venue_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["venue" "venues"]}
 #:acc-text.nlg.dictionary.item{:key      "arena_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["arena" "arenas"]}
 #:acc-text.nlg.dictionary.item{:key      "property_1_N"
                                :sense    "1"
                                :category "N"
                                :language "Eng"
                                :forms    ["property" "properties"]}
 #:acc-text.nlg.dictionary.item{:key      "provide_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["provide" "provides" "provided" "provided" "providing"]}
 #:acc-text.nlg.dictionary.item{:key      "publish_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["publish" "publishes" "published" "published" "publishing"]}
 #:acc-text.nlg.dictionary.item{:key      "quick_Adv"
                                :category "Adv"
                                :language "Eng"
                                :forms    ["quick"]}
 #:acc-text.nlg.dictionary.item{:key      "see_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["see" "saw" "seen"]}
 #:acc-text.nlg.dictionary.item{:key      "serve_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["serve" "serves" "served" "served" "serving"]}
 #:acc-text.nlg.dictionary.item{:key      "small_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["small" "smaller"]}
 #:acc-text.nlg.dictionary.item{:key      "standard_1_A"
                                :sense    "1"
                                :category "A"
                                :language "Eng"
                                :forms    ["standard"]}
 #:acc-text.nlg.dictionary.item{:key      "write_1_V"
                                :sense    "1"
                                :category "V"
                                :language "Eng"
                                :forms    ["write" "wrote" "written"]}]
