@import '../styles/variables'


.className

    display:                grid
    grid-gap:               $space-xs
    grid-template-columns:  1fr
    margin:                 0
    padding:                0

    &.hasDelete

        grid-template-columns:      auto 1em

    &.isEditing

        grid-template-columns:      auto 6em 6em

        &.compact

            grid-template-columns:  auto 3em 3em

    > .text

        cursor:             pointer
        display:            block
        margin:             0
        padding:            0

        &:hover
            &::after

                content:    ' 📝'
                display:    inline
                font-size:  100% / $size-factor

    > .delete

        background-color:   transparent
        border:             0 none transparent
        cursor:             pointer
        display:            inline-block
        margin:             0
        opacity:            .2
        padding:            0

        &:hover

            opacity:        1
