[#:data.spec.reader-model{:code "Eng" :flag "🇬🇧" :name "English" :available? true}
 #:data.spec.reader-model{:code "Ger" :flag "🇩🇪" :name "German" :available? false}
 #:data.spec.reader-model{:code "Est" :flag "🇪🇪" :name "Estonian" :available? false}
 #:data.spec.reader-model{:code "Lav" :flag "🇱🇻" :name "Latvian" :available? false}
 #:data.spec.reader-model{:code "Lit" :flag "🇱🇹" :name "Lithuanian" :available? false}
 #:data.spec.reader-model{:code "Rus" :flag "🇷🇺" :name "Russian" :available? false}
 #:data.spec.reader-model{:code "Spa" :flag "🇪🇸" :name "Spanish" :available? false}]
