[#:data.spec.reader-model{:code "Nc" :name "New customer" :available? false}
 #:data.spec.reader-model{:code "Dc" :name "Discount customer" :available? false}
 #:data.spec.reader-model{:code "Lc" :name "Loyal customer" :available? false}]
