[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-restplus = "*"
gunicorn = "*"
spacy = "*"
flask-cors = "*"


[dev-packages]

pytest = "*"
pytest-flask = "*"


[requires]

python_version = "3"
