#:acc-text.nlg.semantic-graph{:relations
                              ({:from :01, :to :02, :role :segment}
                               {:from :02, :to :03, :role :instance}
                               {:from :02, :to :08, :role :instance}
                               {:from :03,
                                :to :05,
                                :role :ARG0,
                                :attributes {:name "attribute"}}
                               {:from :03,
                                :to :06,
                                :role :ARG1,
                                :attributes {:name "object"}}
                               {:from :03,
                                :to :07,
                                :role :ARG2,
                                :attributes {:name "material"}}
                               {:from :08, :to :09, :role :item}
                               {:from :08, :to :13, :role :item}
                               {:from :09, :to :10, :role :function}
                               {:from :09,
                                :to :11,
                                :role :ARG0,
                                :attributes {:name "pattern"}}
                               {:from :09,
                                :to :12,
                                :role :ARG1,
                                :attributes {:name "style"}}
                               {:from :13, :to :14, :role :function}
                               {:from :13,
                                :to :15,
                                :role :ARG0,
                                :attributes {:name "gender"}}),
                              :concepts
                              ({:id :01, :type :document-plan}
                               {:id :02, :type :segment}
                               {:id :03, :type :amr, :value "dress"}
                               {:id :05, :type :data, :value "attr-type"}
                               {:id :06, :type :data, :value "category-5"}
                               {:id :07, :type :data, :value "attr-fabric"}
                               {:id :08, :type :shuffle}
                               {:id :09, :type :amr, :value "characterization"}
                               {:id :10,
                                :type :dictionary-item,
                                :value "characterization",
                                :attributes {:name "characterization"}}
                               {:id :11, :type :data, :value "attr-pattern"}
                               {:id :12, :type :data, :value "category-2"}
                               {:id :13, :type :amr, :value "intended-for"}
                               {:id :14,
                                :type :dictionary-item,
                                :value "intended-for",
                                :attributes {:name "intended-for"}}
                               {:id :15, :type :data, :value "attr-ideal-for"})}
