#:acc-text.nlg.semantic-graph{:relations (#:acc-text.nlg.semantic-graph{:from :01 :to :02 :role :segment}
                                           #:acc-text.nlg.semantic-graph{:from :02 :to :03 :role :instance}
                                           #:acc-text.nlg.semantic-graph{:from :03 :to :04 :role :statement}
                                           #:acc-text.nlg.semantic-graph{:from :03 :to :10 :role :statement}
                                           #:acc-text.nlg.semantic-graph{:from :04 :to :05 :role :predicate}
                                           #:acc-text.nlg.semantic-graph{:from :04 :to :09 :role :expression}
                                           #:acc-text.nlg.semantic-graph{:from :05 :to :06 :role :input}
                                           #:acc-text.nlg.semantic-graph{:from :06 :to :07 :role :entity}
                                           #:acc-text.nlg.semantic-graph{:from :06 :to :08 :role :comparable}
                                           #:acc-text.nlg.semantic-graph{:from :10 :to :11 :role :expression})
                              :concepts  (#:acc-text.nlg.semantic-graph{:id :01 :type :document-plan}
                                           #:acc-text.nlg.semantic-graph{:id :02 :type :segment}
                                           #:acc-text.nlg.semantic-graph{:id :03 :type :condition}
                                           #:acc-text.nlg.semantic-graph{:id :04 :type :if-statement}
                                           #:acc-text.nlg.semantic-graph{:id :05 :value "not" :type :boolean}
                                           #:acc-text.nlg.semantic-graph{:id :06 :value "in" :type :comparator}
                                           #:acc-text.nlg.semantic-graph{:id :07 :type :data :value "categories"}
                                           #:acc-text.nlg.semantic-graph{:id :08 :type :quote :value "Computers"}
                                           #:acc-text.nlg.semantic-graph{:id    :09
                                                                         :type  :quote
                                                                         :value "The book is not about computers"}
                                           #:acc-text.nlg.semantic-graph{:id :10 :type :default-statement}
                                           #:acc-text.nlg.semantic-graph{:id    :11
                                                                         :type  :quote
                                                                         :value "The book is about computers"})}