#:acc-text.nlg.semantic-graph{:relations [{:from :01 :to :02 :role :segment}
                                          {:from :02 :to :03 :role :instance}
                                          {:from :03 :to :04 :role :statement}
                                          {:from :03 :to :10 :role :statement}
                                          {:from :04 :to :05 :role :predicate}
                                          {:from :04 :to :09 :role :expression}
                                          {:from :05 :to :06 :role :input}
                                          {:from :06 :to :07 :role :entity}
                                          {:from :06 :to :08 :role :comparable}
                                          {:from :10 :to :11 :role :expression}]
                              :concepts  [{:id :01 :type :document-plan}
                                          {:id :02 :type :segment}
                                          {:id :03 :type :condition}
                                          {:id :04 :type :if-statement}
                                          {:id :05 :type :boolean :value "not"}
                                          {:id :06 :type :comparator :value "in"}
                                          {:id :07 :type :data :value "categories"}
                                          {:id :08 :type :quote :value "Computers"}
                                          {:id :09 :type :quote :value "The book is not about computers"}
                                          {:id :10 :type :default-statement}
                                          {:id :11 :type :quote :value "The book is about computers"}]}