{:acc-text.nlg.semantic-graph/relations
 ({:from :01 :to :02 :role :segment}
  {:from :02 :to :03 :role :instance}
  {:from       :03
   :to         :04
   :role       :ARG0
   :attributes {:name "Str" :label "item"}})
 :acc-text.nlg.semantic-graph/concepts
 ({:id :01 :type :document-plan}
  {:id :02 :type :segment}
  {:id :03 :type :amr :value "IBxpytAHCvtfhCih"}
  {:id :04 :type :quote :value "text"})}