#:acc-text.nlg.semantic-graph{:relations [{:from :01,
                                           :to   :02,
                                           :role :segment}
                                          {:from :02,
                                           :to   :03,
                                           :role :instance}
                                          {:from :03,
                                           :to   :04,
                                           :role :statement}
                                          {:from :03,
                                           :to   :10,
                                           :role :statement}
                                          {:from :04,
                                           :to   :05,
                                           :role :predicate}
                                          {:from :04,
                                           :to   :08,
                                           :role :expression}
                                          {:from :05,
                                           :to   :06,
                                           :role :comparable}
                                          {:from :05,
                                           :to   :07,
                                           :role :comparable}
                                          {:from       :08,
                                           :to         :09,
                                           :role       :ARG0,
                                           :attributes {:name  "Str",
                                                        :label "Str"}}
                                          {:from :10,
                                           :to   :11,
                                           :role :predicate}
                                          {:from :10,
                                           :to   :14,
                                           :role :expression}
                                          {:from :11,
                                           :to   :12,
                                           :role :comparable}
                                          {:from :11,
                                           :to   :13,
                                           :role :comparable}
                                          {:from       :14,
                                           :to         :15,
                                           :role       :ARG0,
                                           :attributes {:name  "Str",
                                                        :label "Str"}}],
                              :concepts  [{:id :01, :type :document-plan}
                                          {:id :02, :type :segment}
                                          {:id :03, :type :condition}
                                          {:id :04, :type :if-statement}
                                          {:id    :05,
                                           :value "=",
                                           :type  :comparator}
                                          {:id         :06,
                                           :type       :constant,
                                           :attributes {:name "*Language"}}
                                          {:id    :07,
                                           :type  :quote,
                                           :value "Eng"}
                                          {:id    :08,
                                           :type  :amr,
                                           :value "ParadigmsEng.mkN/Str->N"}
                                          {:id         :09,
                                           :type       :reference,
                                           :attributes {:name "item"}}
                                          {:id :10, :type :if-statement}
                                          {:id    :11,
                                           :value "=",
                                           :type  :comparator}
                                          {:id         :12,
                                           :type       :constant,
                                           :attributes {:name "*Language"}}
                                          {:id    :13,
                                           :type  :quote,
                                           :value "Est"}
                                          {:id    :14,
                                           :type  :amr,
                                           :value "ParadigmsEst.mkN/Str->N"}
                                          {:id         :15,
                                           :type       :reference,
                                           :attributes {:name "item"}}]}