#:acc-text.nlg.semantic-graph{:relations [{:from :01 :to :02 :role :segment}
                                          {:from :02 :to :03 :role :instance}
                                          {:from :02 :to :09 :role :instance}
                                          {:from :03 :to :04 :role :statement}
                                          {:from :03 :to :07 :role :statement}
                                          {:from :04 :to :05 :role :predicate}
                                          {:from :04 :to :06 :role :expression}
                                          {:from :07 :to :08 :role :expression}
                                          {:from :09 :to :10 :role :statement}
                                          {:from :10 :to :11 :role :predicate}
                                          {:from :10 :to :12 :role :expression}
                                          {:from :12 :to :13 :role :child}
                                          {:from :12 :to :14 :role :modifier}]
                              :concepts  [{:id :01 :type :document-plan}
                                          {:id :02 :type :segment}
                                          {:id :03 :type :condition}
                                          {:id :04 :type :if-statement}
                                          {:id :05 :type :data :value "publishedDate"}
                                          {:id :06 :type :quote :value "The book was published."}
                                          {:id :07 :type :default-statement}
                                          {:id :08 :type :quote :value "The book was not published."}
                                          {:id :09 :type :condition}
                                          {:id :10 :type :if-statement}
                                          {:id :11 :type :data :value "near"}
                                          {:id :12 :type :modifier}
                                          {:id :13 :type :data :value "near"}
                                          {:id :14 :type :quote :value "Published nearby"}]}
