@import '../styles/variables'
@import '../styles/buttons'


.className

    > .thumbnail

        box-shadow:             1px 1px $space-xs $gray
        float:                  right
        margin:                 0 0 $space-m $space-m
        max-height:             6rem
        max-width:              6rem

    > .title

        font-size:              $size-l
        font-weight:            $bold
        margin:                 0 0 $space-m
        padding:                0

    .description

        background-color:       $white
        border-radius:          $border-radius
        box-shadow:             inset 1px 1px 1px $gray
        clear:                  both
        color:                  $text-color
        line-height:            $line-height
        margin-bottom:          $space-m
        padding:                $space-s

    .addProduct,
    .updateProduct

        @include primary-button
