{:type "Imp",
 :description "imperative",
 :functions
 [{:function "mkImp", :type ["VP" "Imp"], :example "come to my house"}
  {:function "mkImp", :type ["V" "Imp"], :example "come"}
  {:function "mkImp", :type ["V2" "NP" "Imp"], :example "buy it"}]}
