{:type "Sub1000",
 :description "",
 :functions
 [{:function "mkSub1000", :type ["Sub100" "Sub1000"], :example "..."}
  {:function "mkSub1000",
   :type ["Unit" "Sub1000"],
   :example "nine hundred"}
  {:function "mkSub1000",
   :type ["Unit" "Sub100" "Sub1000"],
   :example "nine hundred and ..."}]}
