{:type "A",
 :description "one-place adjective",
 :module "ParadigmsEng",
 :functions
 [{:function "mkA",
   :type ["Str" "A"],
   :example "regular adj, incl. happy-happier, rude-ruder"}
  {:function "mkA",
   :type ["Str" "Str" "A"],
   :example "irreg. comparative (fat, fatter)"}
  {:function "mkA",
   :type ["Str" "Str" "Str" "Str" "A"],
   :example "completely irreg. (good, better, best, well)"}
  {:function "compoundA",
   :type ["A" "A"],
   :example "force comparison with more/most"}
  {:function "simpleA",
   :type ["A" "A"],
   :example "force comparison with -er,-est"}
  {:function "irregAdv",
   :type ["A" "Str" "A"],
   :example "adverb irreg, e.g. \"fast\""}
  {:function "invarA",
   :type ["Str" "A"],
   :example "adjective that does not vary in morphology"}]}
