{:type "N",
 :description "common noun",
 :module "ParadigmsEng",
 :functions
 [{:function "mkN", :type ["Str" "N"], :example "make noun"}
  {:function "mkN",
   :type ["Gender" "N" "N"],
   :example "default nonhuman"}
  {:function "mkN",
   :type ["Str" "N" "N"],
   :example "e.g. baby + boom"}]}
