{:objects
 {:item
  {:fields {:createdAt {:type String}
            :updatedAt {:type String}
            :synonyms  {:type (list String)}
            :key       {:type String}}}

  :lexicon
  {:fields {:offset     {:type Int}
            :totalCount {:type Int}
            :limit      {:type Int}
            :items      {:type (list :item)}}}}

 :queries
 {:lexicon {:type    :lexicon
            :args    {:query  {:type String}
                      :limit  {:type String}
                      :offset {:type String}}
            :resolve :get-lexicon}}}
