{:objects
 {:item
  {:fields {:createdAt {:type Int}
            :updatedAt {:type Int}
            :synonyms {:type (list String)}
            :key {:type String}}}

  :lexicon
  {:fields {:offset {:type Int}
            :totalCount {:type Int}
            :limit {:type Int}
            :items {:type (list :item)}}}}

 :queries
 {:lexicon {:type :lexicon
            :args {:episode {:type :episode}}
            :resolve :get-lexicon}

  :human {:type (non-null :human)
          :args {:id {:type String
                      :default-value "1001"}}
          :resolve :get-human}

  :droid {:type :droid
          :args {:id {:type String
                      :default-value "2001"}}
          :resolve :get-droid}}}