{:type "AdV",
 :description "adverb directly attached to verb",
 :functions
 [{:function "mkAdV", :type ["Str" "AdV"], :example "e.g. always"}
  {:function "always_AdV", :type ["AdV"], :example "always"}]}
