{:type "V3",
 :description "three-place verb",
 :functions
 [{:function "mkV3",
   :type ["V" "V3"],
   :example "ditransitive, e.g. give,_,_"}
  {:function "mkV3",
   :type ["V" "Prep" "Prep" "V3"],
   :example "two prepositions, e.g. speak, with, about"}]}
