@import '../styles/variables'

@mixin code-inline-block

    color:              $black
    cursor:             pointer
    display:            inline-block
    margin:             0
    padding:            $unit-xs (1em / 8)

    &:hover

        background-color:   $subtle-gray
        box-shadow:         1px 1px 1px $gray

@mixin code-block

    border-radius:      $border-radius
    box-shadow:         1px 1px $gray
    cursor:             pointer
    display:            block
    margin:             $unit-m
    padding:            $unit-m
