{["NP" "VV"]        ({:type :operation :name "mkClSlash" :category "ClSlash" :module "Syntax"})
 ["AP" "SC"]        ({:type :operation :name "mkAP" :category "AP" :module "Syntax"})
 ["VV" "VP"]        ({:type :operation :name "mkVP" :category "VP" :module "Syntax"})
 ["Temp" "RCl"]     ({:type :operation :name "mkRS" :category "RS" :module "Syntax"})
 ["A" "NP"]         ({:type :operation :name "mkAP" :category "AP" :module "Syntax"}
                     {:type :operation :name "mkVP" :category "VP" :module "Syntax"})
 ["Dig" "Digits"]   ({:type :operation :name "mkDigits" :category "Digits" :module "Syntax"})
 ["Conj" "ListAdv"] ({:type :operation :name "mkAdv" :category "Adv" :module "Syntax"})
 ["IDet" "CN"]      ({:type :operation :name "mkIP" :category "IP" :module "Syntax"})
 ["N" "RS"]         ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["IQuant" "Num"]   ({:type :operation :name "mkIDet" :category "IDet" :module "Syntax"})
 ["Det" "N"]        ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["Quant" "N"]      ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["Str" "Case"]     ({:type :operation :name "mkPrep" :category "Prep" :module "ParadigmsGer"})
 ["Numeral" "N"]    ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["AP" "CN"]        ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["NP" "A"]         ({:type :operation :name "mkCl" :category "Cl" :module "Syntax"})
 ["VPSlash" "NP"]   ({:type :operation :name "mkVP" :category "VP" :module "Syntax"})
 ["N" "Prep"]       ({:type :operation :name "mkN3" :category "Prep" :module "ParadigmsGer"})
 ["NP" "NP"]        ({:type :operation :name "mkCN" :category "CN" :module "Syntax"}
                     {:type :operation :name "mkVP" :category "VP" :module "Syntax"}
                     {:type :operation :name "mkCl" :category "Cl" :module "Syntax"})
 ["Str" "Gender"]   ({:type :operation :name "mkN" :category "N" :module "ParadigmsGer"}
                     {:type :operation :name "mkPN" :category "PN" :module "ParadigmsGer"})
 ["Quant" "Ord"]    ({:type :operation :name "mkDet" :category "Det" :module "Syntax"})
 ["CN" "S"]         ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["IP" "AP"]        ({:type :operation :name "mkQCl" :category "QCl" :module "Syntax"})
 ["N" "N"]          ({:type :operation :name "mkN" :category "N" :module "ParadigmsGer"})
 ["Str" "V"]        ({:type :operation :name "mkV" :category "V" :module "ParadigmsGer"})
 ["RP" "VP"]        ({:type :operation :name "mkRCl" :category "RCl" :module "Syntax"})
 ["Pron" "Num"]     ({:type :operation :name "mkDet" :category "Det" :module "Syntax"})
 ["RP" "CN"]        ({:type :operation :name "mkRCl" :category "RCl" :module "Syntax"})
 ["Quant" "Card"]   ({:type :operation :name "mkDet" :category "Det" :module "Syntax"})
 ["Numeral" "CN"]   ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["Card" "CN"]      ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["RP" "AP"]        ({:type :operation :name "mkRCl" :category "RCl" :module "Syntax"})
 ["IP" "NP"]        ({:type :operation :name "mkQCl" :category "QCl" :module "Syntax"})
 ["Prep" "IP"]      ({:type :operation :name "mkIAdv" :category "IAdv" :module "Syntax"})
 ["CN" "SC"]        ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["VQ" "QS"]        ({:type :operation :name "mkVP" :category "VP" :module "Syntax"})
 ["VP" "Adv"]       ({:type :operation :name "mkVP" :category "VP" :module "Syntax"})
 ["AdN" "Card"]     ({:type :operation :name "mkCard" :category "Card" :module "Syntax"}
                     {:type :operation :name "mkNum" :category "Num" :module "Syntax"})
 ["AdA" "Adv"]      ({:type :operation :name "mkAdv" :category "Adv" :module "Syntax"})
 ["N" "NP"]         ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["N" "Adv"]        ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["Pron" "CN"]      ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["RP" "A"]         ({:type :operation :name "mkRCl" :category "RCl" :module "Syntax"})
 ["VV" "VPSlash"]   ({:type :operation :name "mkVPSlash" :category "VPSlash" :module "Syntax"})
 ["Prep" "NP"]      ({:type :operation :name "mkAdv" :category "Adv" :module "Syntax"})
 ["IP" "VP"]        ({:type :operation :name "mkQCl" :category "QCl" :module "Syntax"})
 ["ClSlash" "Adv"]  ({:type :operation :name "mkClSlash" :category "ClSlash" :module "Syntax"})
 ["Conj" "ListNP"]  ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["Det" "CN"]       ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["CN" "QS"]        ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["Text" "Text"]    ({:type :operation :name "mkText" :category "Text" :module "Syntax"})
 ["IAdv" "Cl"]      ({:type :operation :name "mkQCl" :category "QCl" :module "Syntax"})
 ["NP" "Adv"]       ({:type :operation :name "mkNP" :category "NP" :module "Syntax"}
                     {:type :operation :name "mkCl" :category "Cl" :module "Syntax"})
 ["IP" "ClSlash"]   ({:type :operation :name "mkQCl" :category "QCl" :module "Syntax"})
 ["NP" "AP"]        ({:type :operation :name "mkVP" :category "VP" :module "Syntax"}
                     {:type :operation :name "mkCl" :category "Cl" :module "Syntax"})
 ["AP" "S"]         ({:type :operation :name "mkAP" :category "AP" :module "Syntax"})
 ["SC" "VP"]        ({:type :operation :name "mkCl" :category "Cl" :module "Syntax"})
 ["Digits" "N"]     ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["CN" "NP"]        ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["Card" "N"]       ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["NP" "S"]         ({:type :operation :name "mkVP" :category "VP" :module "Syntax"})
 ["IQuant" "N"]     ({:type :operation :name "mkIP" :category "IP" :module "Syntax"})
 ["IQuant" "CN"]    ({:type :operation :name "mkIP" :category "IP" :module "Syntax"})
 ["A" "CN"]         ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["IP" "A"]         ({:type :operation :name "mkQCl" :category "QCl" :module "Syntax"})
 ["CN" "VP"]        ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["IP" "V"]         ({:type :operation :name "mkQCl" :category "QCl" :module "Syntax"})
 ["CN" "Adv"]       ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["Pron" "N"]       ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["V" "Prep"]       ({:type :operation :name "mkV3" :category "Prep" :module "ParadigmsGer"}
                     {:type :operation :name "mkVA" :category "VA" :module "ParadigmsGer"})
 ["IDet" "N"]       ({:type :operation :name "mkIP" :category "IP" :module "Syntax"})
 ["NP" "QS"]        ({:type :operation :name "mkVP" :category "VP" :module "Syntax"})
 ["Conj" "ListRS"]  ({:type :operation :name "mkRS" :category "RS" :module "Syntax"})
 ["IP" "CN"]        ({:type :operation :name "mkQCl" :category "QCl" :module "Syntax"})
 ["NP" "N"]         ({:type :operation :name "mkCl" :category "Cl" :module "Syntax"})
 ["VS" "S"]         ({:type :operation :name "mkVP" :category "VP" :module "Syntax"})
 ["AdV" "VP"]       ({:type :operation :name "mkVP" :category "VP" :module "Syntax"})
 ["A" "N"]          ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["Case" "Str"]     ({:type :operation :name "mkPrep" :category "Prep" :module "ParadigmsGer"})
 ["AP" "QS"]        ({:type :operation :name "mkAP" :category "AP" :module "Syntax"})
 ["Cl" "Prep"]      ({:type :operation :name "mkClSlash" :category "ClSlash" :module "Syntax"})
 ["AdA" "A"]        ({:type :operation :name "mkAP" :category "AP" :module "Syntax"})
 ["VA" "AP"]        ({:type :operation :name "mkVP" :category "VP" :module "Syntax"})
 ["Predet" "NP"]    ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["RP" "NP"]        ({:type :operation :name "mkRCl" :category "RCl" :module "Syntax"})
 ["Conj" "ListAP"]  ({:type :operation :name "mkAP" :category "AP" :module "Syntax"})
 ["IAdv" "Adv"]     ({:type :operation :name "mkIAdv" :category "IAdv" :module "Syntax"})
 ["Quant" "CN"]     ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["Subj" "S"]       ({:type :operation :name "mkAdv" :category "Adv" :module "Syntax"})
 ["Conj" "ListS"]   ({:type :operation :name "mkS" :category "S" :module "Syntax"})
 ["IComp" "NP"]     ({:type :operation :name "mkQCl" :category "QCl" :module "Syntax"})
 ["Adv" "S"]        ({:type :operation :name "mkCl" :category "Cl" :module "Syntax"}
                     {:type :operation :name "mkS" :category "S" :module "Syntax"})
 ["AP" "N"]         ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["IAdv" "NP"]      ({:type :operation :name "mkQCl" :category "QCl" :module "Syntax"})
 ["NP" "V"]         ({:type :operation :name "mkCl" :category "Cl" :module "Syntax"})
 ["RP" "ClSlash"]   ({:type :operation :name "mkRCl" :category "RCl" :module "Syntax"})
 ["CN" "RS"]        ({:type :operation :name "mkCN" :category "CN" :module "Syntax"})
 ["RP" "V"]         ({:type :operation :name "mkRCl" :category "RCl" :module "Syntax"})
 ["Str" "N"]        ({:type :operation :name "mkN" :category "N" :module "ParadigmsGer"})
 ["NP" "RS"]        ({:type :operation :name "mkNP" :category "NP" :module "Syntax"}
                     {:type :operation :name "mkCl" :category "Cl" :module "Syntax"})
 ["RP" "N"]         ({:type :operation :name "mkRCl" :category "RCl" :module "Syntax"})
 ["NP" "VPSlash"]   ({:type :operation :name "mkVPSlash" :category "VPSlash" :module "Syntax"}
                     {:type :operation :name "mkClSlash" :category "ClSlash" :module "Syntax"})
 ["AdA" "AP"]       ({:type :operation :name "mkAP" :category "AP" :module "Syntax"})
 ["NP" "VP"]        ({:type :operation :name "mkVP" :category "VP" :module "Syntax"}
                     {:type :operation :name "mkCl" :category "Cl" :module "Syntax"})
 ["Quant" "Num"]    ({:type :operation :name "mkDet" :category "Det" :module "Syntax"}
                     {:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["AP" "VP"]        ({:type :operation :name "mkAP" :category "AP" :module "Syntax"})
 ["Digits" "CN"]    ({:type :operation :name "mkNP" :category "NP" :module "Syntax"})
 ["IP" "N"]         ({:type :operation :name "mkQCl" :category "QCl" :module "Syntax"})
 ["NP" "CN"]        ({:type :operation :name "mkCl" :category "Cl" :module "Syntax"})
 ["RP" "Adv"]       ({:type :operation :name "mkRCl" :category "RCl" :module "Syntax"})
 ["Tense" "Ant"]    ({:type :operation :name "mkTemp" :category "Temp" :module "Syntax"})
 ["IP" "Adv"]       ({:type :operation :name "mkIP" :category "IP" :module "Syntax"}
                     {:type :operation :name "mkQCl" :category "QCl" :module "Syntax"})}
