{:deps      {acceleratedtext/openccg          {:mvn/version "0.10.5"}
             ccg-kit                          {:local/root "../core"}
             ch.qos.logback/logback-classic   {:mvn/version "1.2.3"}
             clj-commons/clj-yaml             {:mvn/version "0.7.0"}
             com.taoensso/faraday             {:git/url "https://github.com/tokenmill/faraday.git"
                                               :sha     "23e71e7ac8cf6c68efe9446da13ddd913c91accf"}
             com.walmartlabs/lacinia          {:mvn/version "0.35.0"}
             http-kit                         {:mvn/version "2.3.0"}
             javax.servlet/servlet-api        {:mvn/version "2.5"}
             ring/ring-core                   {:mvn/version "1.7.1"}
             net.sf.extjwnl/extjwnl           {:mvn/version "2.0.2"}
             net.sf.extjwnl/extjwnl-data-wn31 {:mvn/version "1.2"}
             metosin/jsonista                 {:mvn/version "0.2.5"}
             metosin/reitit                   {:mvn/version "0.3.10"}
             mount                            {:mvn/version "0.1.16"}
             com.datomic/datomic-free         {:mvn/version "0.9.5697"
                                               :exclusions  [org.slf4j/slf4j-nop org.slf4j/slf4j-log4j12]}
             io.rkn/conformity                {:mvn/version "0.5.1"}
             org.clojure/clojure              {:mvn/version "1.10.1"}
             org.clojure/data.csv             {:mvn/version "0.1.4"}
             org.clojure/tools.logging        {:mvn/version "0.5.0"}}
 :paths     ["src" "resources"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :aliases   {:dev
             {:jvm-opts    ["-Daws.region=eu-central-1"
                            "-Daws.accessKeyId=DEV"
                            "-Daws.secretKey=DEV"]
              :extra-paths ["spec" "test" "test/resources"]}
             :local
             {:jvm-opts    ["-Daws.region=eu-central-1"
                            "-Daws.accessKeyId=DEV"
                            "-Daws.secretKey=DEV"]
              :extra-paths ["spec"]}
             :test
             {:extra-paths ["test"]
              :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                       :sha     "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
              :main-opts   ["-m" "cognitect.test-runner"]}
             :uberjar
             {:extra-deps {luchiniatwork/cambada {:git/url    "https://github.com/xfthhxk/cambada"
                                                  :sha        "8fdc7d29a41620ad3e9e6210fd7140f3a4c7936b"
                                                  :exclusions [org.slf4j/slf4j-nop]}}
              :main-opts  ["-m" "cambada.uberjar"
                           "-m" "api.server"
                           "-a" "api.server"]}}}
