version: '3.4'

services:
  api:
    image: acctext/api:test
    build:
      context: ../
      dockerfile: api/Dockerfile
    environment:
      GF_ENDPOINT: "http://gf:8000"
      ENABLE_ENRICH: "FALSE"
      ENABLE_REF_EXPR: "FALSE"
      DB_IMPLEMENTATION: "datomic"
      DATA_FILES: "/opt/data-files"
      DICT_PATH: "/opt/dictionary"
      DOCUMENT_PLANS: "/opt/document-plans"
    command: ["clojure", "-A:dev:test", "-i", "integration"]
    volumes:
      - ./resources/schema.graphql:/opt/schema.graphql
      - ./resources/datomic-schema:/opt/datomic-schema
      - ./test/resources/data-files:/opt/data-files
      - ./test/resources/dictionary:/opt/dictionary
      - ./test/resources/document-plans:/opt/document-plans
  gf:
    image: acctext/core:test
    build:
      context: ../core/gf
