version: '3.4'

services:
  api:
    build:
      context: ../
      dockerfile: api/Dockerfile
    environment:
      DYNAMODB_ENDPOINT: http://localstack:4569
      GF_ENDPOINT: http://gf:8000
      GRAMMAR_PACKAGE: "/opt/grammar/library"
      GRAMMAR_PARADIGMS: "/opt/grammar/paradigms"
      ENRICH_ENDPOINT: "http://enrich:8000"
      DICT_PATH: "/opt/grammar/dictionary"
      DOCUMENT_PLANS: "/opt/grammar/document-plans"
    command: ["clojure", "-A:dev:test", "-i", "integration"]
    volumes:
      - ./grammar:/opt/grammar
  gf:
    build:
      context: ../
      dockerfile: core/gf/Dockerfile
  enrich:
    build:
      context: ../
      dockerfile: core/enrich/Dockerfile
