version: '3.3'

services:
  localstack:
    image: localstack/localstack:0.10.4
    environment:
      - SERVICES=dynamodb
  api:
    build:
      context: ../
      dockerfile: api/Dockerfile
    depends_on:
      - localstack
    environment:
      DYNAMODB_ENDPOINT: http://localstack:4569
      GF_ENDPOINT: http://gf:8000
      GRAMMAR_PATH: "/opt/grammar"
    command: ["clojure", "-A:dev:test", "-i", "integration"]
    volumes:
      - ./test/resources/grammar:/opt/grammar
  gf:
    build:
      context: ../
      dockerfile: core/gf/Dockerfile
