{:type "V",
 :description "one-place verb",
 :module "ParadigmsEng",
 :functions
 [{:function "mkV",
   :type ["Str" "V"],
   :example "regular, incl. cry-cries, kiss-kisses etc"}
  {:function "mkV",
   :type ["Str" "Str" "V"],
   :example "reg. with consonant duplication (stop, stopped)"}
  {:function "mkV",
   :type ["Str" "Str" "Str" "V"],
   :example "ordinary irregular (drink, drank, drunk)"}
  {:function "mkV",
   :type ["Str" "Str" "Str" "Str" "V"],
   :example "run, ran, run, running"}
  {:function "mkV",
   :type ["Str" "Str" "Str" "Str" "Str" "V"],
   :example "totally irregular (go, goes, went, gone, going)"}
  {:function "mkV",
   :type ["Str" "V" "V"],
   :example "fix compound, e.g. under+take"}
  {:function "partV",
   :type ["V" "Str" "V"],
   :example "with particle, e.g. switch + on"}
  {:function "reflV",
   :type ["V" "V"],
   :example "reflexive e.g. behave oneself"}
  {:function "us_britishV",
   :type ["Str" "V"],
   :example "travel - traveled/travelled"}]}
