{:type "V2",
 :description "two-place verb",
 :module "ParadigmsEng",
 :functions
 [{:function "mkV2", :type ["Str" "V2"], :example "kill"}
  {:function "mkV2", :type ["V" "V2"], :example "transitive, e.g. hit"}
  {:function "mkV2",
   :type ["V" "Prep" "V2"],
   :example "with preposiiton, e.g. believe in"}
  {:function "mkV2", :type ["V" "Str" "V2"], :example "believe in"}
  {:function "mkV2", :type ["Str" "Prep" "V2"], :example "believe in"}
  {:function "mkV2", :type ["Str" "Str" "V2"], :example "believe in"}]}
